<div class="ui inverted simple dimmer"></div>
<div class="drag-anchor" {{action set "draggable" true on="mouseEnter"}} {{action set "draggable" false on="mouseLeave"}}></div>
{{#if _isControl}}
  <label>{{control.caption}}</label>
  {{component _component}}
{{else if _isGroup}}
  {{#flexberry-toggler caption=control.caption expanded=true}}
    {{#each control.rows as |row|}}
      {{fd-editform-row
        row=row
        selectedItem=selectedItem
        selectItemAction=selectItemAction
        setDragItemAction=setDragItemAction
        getDragItemAction=getDragItemAction
        moveDragItemAction=moveDragItemAction
      }}
    {{/each}}
  {{/flexberry-toggler}}
{{else if _isTab}}
  {{#fd-tabs 
    tabsMenuTheme="top attached tabular" 
    class="ui segments" 
    tabClick = (action "changeTab")
  }}
    {{#each control.tabs as |tab index|}}
      {{#ui-tab-segment
        title=tab.caption
        theme="bottom attached segment"
        active=activeTab
        selected=selectedItem
        tab=tab.caption
        tab=tab
      }}

        {{#each tab.rows as |row|}}
          {{fd-editform-row
            row=row
            selectedItem=selectedItem
            selectItemAction=selectItemAction
            setDragItemAction=setDragItemAction
            getDragItemAction=getDragItemAction
            moveDragItemAction=moveDragItemAction
          }}
        {{/each}}

      {{/ui-tab-segment}}
    {{/each}}
  {{/fd-tabs}}
{{/if}}