<div class="ui inverted simple dimmer"></div>
<div class="drag-anchor" {{action set "draggable" true on="mouseEnter"}} {{action set "draggable" false on="mouseLeave"}}></div>
{{#if _isControl}}
  <label>{{control.caption}}</label>
  {{component _componentName
    items=_componentProperties.items
    types=_componentProperties.types
    view=_componentProperties.view
    showLookupAction=showLookupAction
    caption=control.caption
  }}
{{else if _isGroup}}
  {{#flexberry-toggler caption=control.caption expanded=true}}
    {{#each control.rows as |row|}}
      {{fd-editform-row
        row=row
        selectedItem=selectedItem
        selectItemAction=selectItemAction
        setDragItemAction=setDragItemAction
        getDragItemAction=getDragItemAction
        moveDragItemAction=moveDragItemAction
        getComponentPropertiesAction=getComponentPropertiesAction
        showLookupAction=showLookupAction
      }}
    {{/each}}
  {{/flexberry-toggler}}
{{else if _isTab}}
  {{#fd-tabs
    tabsMenuTheme="top attached tabular"
    class="ui segments"
    tabClick = (action "changeTab")
    selectedTab=selectedItem.caption
    dynamicTabs=true
    as |tab|
  }}
    {{#each control.tabs as |tabObj index|}}
      {{#tab.pane
        title=tabObj.caption
        dataTab=tabObj.caption
        tab=tabObj
        theme="bottom attached segment"
      }}

        {{#each tabObj.rows as |row|}}
          {{fd-editform-row
            row=row
            selectedItem=selectedItem
            selectItemAction=selectItemAction
            setDragItemAction=setDragItemAction
            getDragItemAction=getDragItemAction
            moveDragItemAction=moveDragItemAction
          }}
        {{/each}}

      {{/tab.pane}}
    {{/each}}
  {{/fd-tabs}}
{{/if}}