<div class="drag-anchor" {{action set "draggable" true on="mouseEnter"}} {{action set "draggable" false on="mouseLeave"}}></div>
{{#if _isControl}}
  <label>{{control.caption}}</label>
  {{component _component}}
{{else if _isGroup}}
  {{#flexberry-toggler caption=control.caption}}
    {{#each control.rows as |row|}}
      {{fd-editform-row
        row=row
        selectControlAction=selectControlAction
        setDragItemAction=setDragItemAction
        getDragItemAction=getDragItemAction
        moveDragItemAction=moveDragItemAction
      }}
    {{/each}}
  {{/flexberry-toggler}}
{{else if _isTab}}
  <div class="ui top attached tabular menu">
    {{#each control.tabs as |tab index|}}
      <a class="{{unless index "active"}} item" {{action selectControlAction tab bubbles=false}} data-tab="{{elementId}}-tab-{{index}}">{{tab.caption}}</a>
    {{/each}}
  </div>
  {{#each control.tabs as |tab index|}}
    <div class="ui bottom attached {{unless index "active"}} tab segment" data-tab="{{elementId}}-tab-{{index}}">
      {{#each tab.rows as |row|}}
        {{fd-editform-row
          row=row
          selectControlAction=selectControlAction
          setDragItemAction=setDragItemAction
          getDragItemAction=getDragItemAction
          moveDragItemAction=moveDragItemAction
        }}
      {{/each}}
    </div>
  {{/each}}
{{/if}}