<div class="ui inverted simple dimmer"></div>
<div class="drag-anchor" {{action set "draggable" true on="mouseEnter"}} {{action set "draggable" false on="mouseLeave"}}></div>
{{#if _isControl}}
  <label>{{control.caption}}</label>
  {{component _component.name
    items=_component.items
    view=_component.view
    showLookupAction=showLookupAction
    caption=control.caption
    uploadOnModelPreSave=false
  }}
{{else if _isGroup}}
  {{#flexberry-toggler caption=control.caption expanded=true}}
    {{#each control.rows as |row|}}
      {{fd-editform-row
        row=row
        selectedItem=selectedItem
        selectItemAction=selectItemAction
        setDragItemAction=setDragItemAction
        getDragItemAction=getDragItemAction
        moveDragItemAction=moveDragItemAction
        getComponentPropertiesAction=getComponentPropertiesAction
        showLookupAction=showLookupAction
      }}
    {{/each}}
  {{/flexberry-toggler}}
{{else if _isTab}}
  <div class="ui top attached tabular menu">
    {{#each control.tabs as |tab index|}}
      <a class="item {{if (eq tab selectedItem) "selected"}} {{if (eq tab activeTab) "active"}}" {{action "changeTab" tab bubbles=false}}>{{tab.caption}}</a>
    {{/each}}
  </div>
  {{#each control.tabs as |tab index|}}
    <div class="ui bottom attached tab segment {{if (eq tab selectedItem) "selected"}} {{if (eq tab activeTab) "active"}}">
      {{#each tab.rows as |row|}}
        {{fd-editform-row
          row=row
          selectedItem=selectedItem
          selectItemAction=selectItemAction
          setDragItemAction=setDragItemAction
          getDragItemAction=getDragItemAction
          moveDragItemAction=moveDragItemAction
          getComponentPropertiesAction=getComponentPropertiesAction
          showLookupAction=showLookupAction
        }}
      {{/each}}
    </div>
  {{/each}}
{{/if}}