<div class="ui action input">
  <input type="text" readonly="readonly" class="flexberry-file-filename-input" placeholder={{t "components.flexberry-file.placeholder"}}>
  <label class="flexberry-file-add-button ui icon button" title={{t "components.flexberry-file.add-button-title"}}>
    <i class="add outline square icon"></i>
  </label>
  <label class="flexberry-file-remove-button ui icon disabled button" title={{t "components.flexberry-file.remove-button-title"}}>
    <i class="trash outline icon"></i>
  </label>
  <label class="flexberry-file-upload-button ui icon disabled button" title={{t "components.flexberry-file.upload-button-title"}}>
    <i class="upload outline icon"></i>
  </label>
  <label class="flexberry-file-download-button ui icon disabled button" title={{t "components.flexberry-file.download-button-title"}}>
    <i class="download outline icon"></i>
  </label>
</div>