<div class="field">
  <label>{{t "components.fd-visual-control.prototypeBy"}}</label>
  {{flexberry-dropdown
    readonly=true
  }}
</div>
<div class="field">
  <label>{{t "components.fd-visual-control.name"}}</label>
  {{flexberry-textbox
    value=attribute.name
    readonly=_readonly
  }}
</div>
<div class="field">
  <label>{{t "components.fd-visual-control.type"}}</label>
  {{flexberry-dropdown
    items=types
    value=attribute.type
    readonly=_readonly
  }}
</div>
<div class="field">
  <label>{{t "components.fd-visual-control.isNull"}}</label>
  {{flexberry-checkbox
    class="fluid"
    value=allowNull
    readonly=_readonly
  }}
</div>
<div class="field">
  <label>{{t "components.fd-visual-control.defaultValue"}}</label>
  {{component defaultValueControl
    value=attribute.defaultValue
    readonly=_readonly
  }}
</div>