<div class="field">
    <label>{{nameTextboxCaption}}</label>
    {{flexberry-textbox
      value=undefined
    }}
</div>
<div class="field">
    <label>{{typeDropdownCaption}}</label>
    {{flexberry-dropdown
      items=undefined
      value=undefined
      class=undefined
    }}
</div>
<div class="field">
    <label>{{isNullCheckboxCaption}}</label>
    {{flexberry-checkbox
      class="fluid"
      value=undefined
    }}
</div>
<div class="field">
    <label>{{defaultValueTextboxCaption}}</label>
    {{flexberry-textbox
      value=undefined
    }}
</div>
<div class="field">
    <label>{{readonlyCheckboxCaption}}</label>
    {{flexberry-checkbox
      class="fluid"
      value=undefined
    }}
</div>
