<div class="ui cards">
  {{#each model.projects as |project|}}
    <a class="ui card" {{action "chooseProject" project}}>
      <div class="content">
        <i class="right floated like icon" {{action "pinProject" project bubbles=false}}></i>
        <div class="header">{{project.name}}</div>
        <div class="description">
          <p>{{project.description}}</p>
        </div>
        <div class="meta">
          <span>
            {{t "forms.fd-all-projects.updated"}}
            <strong>{{moment-format project.changeDate "DD.MM.YYYY"}}</strong>
          </span>
        </div>
      </div>
    </a>
  {{/each}}
</div>