<div class="fd-centered-new-form">
  <h1>{{t "forms.fd-all-projects.creating-new"}}</h1>
  <div class="ui stackable grid fd-list-edited">
    <div class="row">
      <div class="four wide column">
        {{t "forms.fd-all-projects.name"}}
      </div>
      <div class="twelve wide column light-text">
        {{flexberry-textbox
          class="fluid input"
          value=projectName
          placeholder=(t "forms.fd-all-projects.name-placeholder")
        }}
      </div>
    </div>
    <div class="row">
      <div class="four wide column">
        {{t "forms.fd-all-projects.product"}}
      </div>
      <div class="twelve wide column light-text">
        {{flexberry-textbox
          class="fluid input"
          value=productName
          placeholder=(t "forms.fd-all-projects.product-placeholder")
          keyPress=keyPressPattern
        }}
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column light-text">
        {{t "forms.fd-all-projects.name-example"}},
        <a href="#" {{action set "projectName" (get (t (concat "forms.fd-all-projects.name-examples." nameExample)) 'string')}}
        {{action set "productName" (get (t (concat "forms.fd-all-projects.product-examples." nameExample)) 'string')}} class="fd-styled-link">
          {{t (concat "forms.fd-all-projects.name-examples." nameExample)}}
        </a>
        <a href="#" {{action notifyPropertyChange "nameExample"}}>
          <i class="recycle icon"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="four wide column">
        <div>{{t "forms.fd-all-projects.access"}}</div>
      </div>
      <div class="twelve wide column light-text">
        <div class="field">
          <div class="flexberry-checkbox ui checkbox">
            <input type="radio" name="access" class="flexberry-checkbox-input" onchange={{action set 'accessIsPublic' false}}>
            <label class="flexberry-checkbox-label">{{t "forms.fd-all-projects.access-private"}}</label>
          </div>
        </div>
        <div class="field">
          <div class="flexberry-checkbox ui checkbox">
            <input type="radio" name="access" class="flexberry-checkbox-input" checked onchange={{action set 'accessIsPublic' true}}>
            <label class="flexberry-checkbox-label">{{t "forms.fd-all-projects.access-public"}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="four wide column">
        <div>{{t "forms.fd-all-projects.description"}}</div>
      </div>
      <div class="twelve wide column light-text">
        {{flexberry-textbox
          class="fluid input"
          value=projectDescription
          placeholder=(t "forms.fd-all-projects.description-placeholder")
        }}
      </div>
    </div>
  </div>
  <div class="ui stackable grid actions">
    <div class="center aligned two column row">
      <div class="column">
        {{fd-button
          iconClass="icon-fd-x-mark-thin"
          class="fluid"
          caption=(t "forms.fd-all-projects.cancel")
          click=(action 'cancelButton')
        }}
      </div>
      <div class="column">
        {{fd-button
          iconClass="icon-fd-cloud-upload-outline"
          class="blue fluid"
          readonly=(not projectName)
          caption=(t "forms.fd-all-projects.create-project")
          click=(action 'createStage')
        }}
      </div>
    </div>
  </div>
</div>

{{#if show}}
  {{fd-modal-message-box
    headerCaption=headerCaption
    messageText=messageText
    visibleButtons=visibleButtons
    approveButtonCaption=approveButtonCaption
    denyButtonCaption=denyButtonCaption
    approve=(action "approveAction")
    deny=(action "denyAction")
    hide=(action set "show" false)
  }}
{{/if}}
