<div class="field">
  <div class="three fields">
    <div class="field">
      {{fd-ember-jstree
        data=tree
        selectedNodes=selectedNodes
        loadDataNode=loadDataNode
        treeObject=treeObject
      }}
    </div>
    <div class="one wide field">
      <button class="ui basic button table-btn icon {{if selectedNode '' 'disabled'}}" {{action 'addNodeInDefinition'}}>
        <i class="arrow right icon"></i>
      </button>
    </div>
    <div class="field">
      {{fd-search-input
        value=searchValue
      }}
      <div class="ui grid view-definition">
        {{#each view.definitionArray as |definition|}}
          {{fd-view-definition-item
            definition=definition
            filterValue=searchValue
            selectedPropery=selectedPropery
            delete=(action 'deleteDefinitionItem')
          }}
        {{/each}}
      </div>
    </div>
  </div>

  {{#if selectedPropery}}
    <div class="ui stackable grid fd-list">

      <div class="row">
        <div class="five wide column">
          {{t "components.fd-create-view.settings-view.path"}}
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-textbox
            value=selectedPropery.path
            class='fluid input'
            placeholder=(t "components.fd-create-view.settings-view.path-placeholder")
          }}
        </div>
      </div>

      {{#if (eq propertyType 'isMaster')}}
        <div class="row">
          <div class="five wide column">
            {{t "components.fd-create-view.settings-master.lookup-type"}}
          </div>
          <div class="eleven wide column light-text">
            {{flexberry-dropdown
              onChange=(action "changeLookupType")
              items=(array 'default' 'standard' 'combo')
              value=selectedPropery.lookupType
            }}
          </div>
        </div>

        {{#if (not-eq selectedPropery.lookupType 'default')}}
          <div class="row">
            <div class="five wide column">
              {{t "components.fd-create-view.settings-master.master-property"}}
            </div>
            <div class="eleven wide column light-text">
              {{flexberry-textbox
                value=selectedPropery.masterPropertyName
                class='fluid input'
                placeholder=(t "components.fd-create-view.settings-master.master-property-placeholder")
              }}
            </div>
          </div>

          <div class="row">
            <div class="five wide column">
              {{t "components.fd-create-view.settings-master.sample-setting"}}
            </div>
            <div class="eleven wide column light-text">
              {{flexberry-textbox
                value=selectedPropery.masterCustomizationString
                class='fluid input'
                placeholder=(t "components.fd-create-view.settings-master.sample-setting-placeholder")
              }}
            </div>
          </div>
        {{/if}}
      {{/if}}

      {{#if (eq propertyType 'isDetail')}}
        <div class="row">
          <div class="five wide column">
            {{t "components.fd-create-view.settings-detail.view"}}
          </div>
          <div class="eleven wide column light-text">
            {{flexberry-dropdown
              items=detailView
              needChecksOnValue=false
              value=selectedPropery.detailViewName
            }}
          </div>
        </div>

        <div class="row">
          <div class="five wide column">
            {{t "components.fd-create-view.settings-detail.load-on-load-agregator"}}
          </div>
          <div class="eleven wide column light-text">
            {{flexberry-checkbox
              value=selectedPropery.loadOnLoadAgregator
            }}
          </div>
        </div>
      {{/if}}

      <div class="sixteen wide column buttons-row">
        <button class="ui basic button table-btn icon" {{action 'changeOrderDefinition' true}}>
          <i class="arrow up icon"></i>
        </button>
        <button class="ui basic button table-btn icon" {{action 'changeOrderDefinition' false}}>
          <i class="arrow down icon"></i>
        </button>
      </div>
    </div>
  {{/if}}
</div>
