<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.entity-caption")
        click=(action "createClass" "«implementation»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.type-caption")
        click=(action "createClass" "«type»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.application-caption")
        click=(action "createClass" "«application»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.bs-caption")
        click=(action "createClass" "«businessserver»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.external-caption")
        click=(action "createClass" "«external»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.extinterface-caption")
        click=(action "createClass" "«externalinterface»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.interface-caption")
        click=(action "createClass" "«interface»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.userform-caption")
        click=(action "createClass" "«userform»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.enum-caption")
        click=(action "createClass" "«enumeration»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption=(t "forms.fd-application-model.typedef-caption")
        click=(action "createClass" "«typedef»")
      }}
    </div>
  </div>
</form>