<div class="ui cards fd-list fd-create-cards">
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "cad"}}>
      <div><b>{{t "components.fd-create-diagrams.cad-caption"}}</b>{{t "components.fd-create-diagrams.cad-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "ad"}}>
      <div><b>{{t "components.fd-create-diagrams.ad-caption"}}</b>{{t "components.fd-create-diagrams.ad-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "cod"}}>
      <div><b>{{t "components.fd-create-diagrams.cod-caption"}}</b>{{t "components.fd-create-diagrams.cod-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "dpd"}}>
      <div><b>{{t "components.fd-create-diagrams.dpd-caption"}}</b>{{t "components.fd-create-diagrams.dpd-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "sd"}}>
      <div><b>{{t "components.fd-create-diagrams.sd-caption"}}</b>{{t "components.fd-create-diagrams.sd-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "std"}}>
      <div><b>{{t "components.fd-create-diagrams.std-caption"}}</b>{{t "components.fd-create-diagrams.std-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createDiagramAction "ucd"}}>
      <div><b>{{t "components.fd-create-diagrams.ucd-caption"}}</b>{{t "components.fd-create-diagrams.ucd-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
</div>
