<div class="ui cards fd-list">
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«implementation»"}}>
      <div class="header">{{t "components.fd-create-entity.entity-caption"}}</div>
      <div>{{t "components.fd-create-entity.entity-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«enumeration»"}}>
      <div class="header">{{t "components.fd-create-entity.enum-caption"}}</div>
      <div>{{t "components.fd-create-entity.enum-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«businessserver»"}}>
      <div class="header">{{t "components.fd-create-entity.bs-caption"}}</div>
      <div>{{t "components.fd-create-entity.bs-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«type»"}}>
      <div class="header">{{t "components.fd-create-entity.type-caption"}}</div>
      <div>{{t "components.fd-create-entity.type-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«typedef»"}}>
      <div class="header">{{t "components.fd-create-entity.typedef-caption"}}</div>
      <div>{{t "components.fd-create-entity.typedef-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«interface»"}}>
      <div class="header">{{t "components.fd-create-entity.interface-caption"}}</div>
      <div>{{t "components.fd-create-entity.interface-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«external»"}}>
      <div class="header">{{t "components.fd-create-entity.external-caption"}}</div>
      <div>{{t "components.fd-create-entity.external-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«externalinterface»"}}>
      <div class="header">{{t "components.fd-create-entity.extinterface-caption"}}</div>
      <div>{{t "components.fd-create-entity.extinterface-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«application»"}}>
      <div class="header">{{t "components.fd-create-entity.application-caption"}}</div>
      <div>{{t "components.fd-create-entity.application-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«userform»"}}>
      <div class="header">{{t "components.fd-create-entity.userform-caption"}}</div>
      <div>{{t "components.fd-create-entity.userform-it-is"}}</div>
    </div>
  </a>
  <a class="ui card fluid">
    <div class="content" {{action createClassAction "«custom»"}}>
      <div class="header">{{t "components.fd-create-entity.userstereotype-caption"}}</div>
      <div>{{t "components.fd-create-entity.userstereotype-it-is"}}</div>
    </div>
  </a>
</div>
