<div class="ui cards fd-list fd-create-cards">
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«implementation»"}}>
      <div><b>{{t "components.fd-create-entity.entity-caption"}}</b>{{t "components.fd-create-entity.entity-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«enumeration»"}}>
      <div><b>{{t "components.fd-create-entity.enum-caption"}}</b>{{t "components.fd-create-entity.enum-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«businessserver»"}}>
      <div><b>{{t "components.fd-create-entity.bs-caption"}}</b>{{t "components.fd-create-entity.bs-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«type»"}}>
      <div><b>{{t "components.fd-create-entity.type-caption"}}</b>{{t "components.fd-create-entity.type-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«typedef»"}}>
      <div><b>{{t "components.fd-create-entity.typedef-caption"}}</b>{{t "components.fd-create-entity.typedef-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«interface»"}}>
      <div><b>{{t "components.fd-create-entity.interface-caption"}}</b>{{t "components.fd-create-entity.interface-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«external»"}}>
      <div><b>{{t "components.fd-create-entity.external-caption"}}</b>{{t "components.fd-create-entity.external-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«externalinterface»"}}>
      <div><b>{{t "components.fd-create-entity.extinterface-caption"}}</b>{{t "components.fd-create-entity.extinterface-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«application»"}}>
      <div><b>{{t "components.fd-create-entity.application-caption"}}</b>{{t "components.fd-create-entity.application-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«userform»"}}>
      <div><b>{{t "components.fd-create-entity.userform-caption"}}</b>{{t "components.fd-create-entity.userform-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«maplayer»"}}>
      <div><b>{{t "components.fd-create-entity.maplayer-caption"}}</b>{{t "components.fd-create-entity.maplayer-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«maplayerstyle»"}}>
      <div><b>{{t "components.fd-create-entity.maplayerstyle-caption"}}</b>{{t "components.fd-create-entity.maplayerstyle-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
  {{#fd-drop-card}}
    <div class="content" {{action createClassAction "«custom»"}}>
      <div><b>{{t "components.fd-create-entity.userstereotype-caption"}}</b>{{t "components.fd-create-entity.userstereotype-it-is"}}</div>
    </div>
  {{/fd-drop-card}}
</div>
