<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать сущность через Т"
        click=(action "createClass" "«implementation»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать тип через Т"
        click=(action "createClass" "«type»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать приложение через Т"
        click=(action "createClass" "«application»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать бизнес-сервер через Т"
        click=(action "createClass" "«businessserver»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать внешняя сущность через Т"
        click=(action "createClass" "«external»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать внешний интерфейс через Т"
        click=(action "createClass" "«externalinterface»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать интерфейс через Т"
        click=(action "createClass" "«interface»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать пользовательская форма через Т"
        click=(action "createClass" "«userform»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать перечисление через Т"
        click=(action "createClass" "«enumeration»")
      }}
    </div>
    <div class="row">
      {{
        fd-button
        tagName="label"
        caption="Создать typedef через Т"
        click=(action "createClass" "«typedef»")
      }}
    </div>
  </div>
</form>