<div class="ui stackable grid fd-list">
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«implementation»"}}>
      <div>{{t "components.fd-create-entity.entity-caption"}}</div>
      <div>{{t "components.fd-create-entity.entity-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«enumeration»"}}>
      <div>{{t "components.fd-create-entity.enum-caption"}}</div>
      <div>{{t "components.fd-create-entity.enum-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«businessserver»"}}>
      <div>{{t "components.fd-create-entity.bs-caption"}}</div>
      <div>{{t "components.fd-create-entity.bs-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«type»"}}>
      <div>{{t "components.fd-create-entity.type-caption"}}</div>
      <div>{{t "components.fd-create-entity.type-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«typedef»"}}>
      <div>{{t "components.fd-create-entity.typedef-caption"}}</div>
      <div>{{t "components.fd-create-entity.typedef-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«interface»"}}>
      <div>{{t "components.fd-create-entity.interface-caption"}}</div>
      <div>{{t "components.fd-create-entity.interface-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«external»"}}>
      <div>{{t "components.fd-create-entity.external-caption"}}</div>
      <div>{{t "components.fd-create-entity.external-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«externalinterface»"}}>
      <div>{{t "components.fd-create-entity.extinterface-caption"}}</div>
      <div>{{t "components.fd-create-entity.extinterface-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«application»"}}>
      <div>{{t "components.fd-create-entity.application-caption"}}</div>
      <div>{{t "components.fd-create-entity.application-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«userform»"}}>
      <div>{{t "components.fd-create-entity.userform-caption"}}</div>
      <div>{{t "components.fd-create-entity.userform-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createClassAction "«custom»"}}>
      <div>{{t "components.fd-create-entity.userstereotype-caption"}}</div>
      <div>{{t "components.fd-create-entity.userstereotype-it-is"}}</div>
    </button>
  </div>
</div>
