<div class="ui stackable grid fd-list">
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "cad"}}>
      <div>{{t "components.fd-create-diagrams.cad-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.cad-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "ad"}}>
      <div>{{t "components.fd-create-diagrams.ad-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.ad-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "cod"}}>
      <div>{{t "components.fd-create-diagrams.cod-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.cod-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "dpd"}}>
      <div>{{t "components.fd-create-diagrams.dpd-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.dpd-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "sd"}}>
      <div>{{t "components.fd-create-diagrams.sd-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.sd-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "std"}}>
      <div>{{t "components.fd-create-diagrams.std-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.std-it-is"}}</div>
    </button>
  </div>
  <div class="row">
    <button class="fluid ui button" {{action createDiagramAction "ucd"}}>
      <div>{{t "components.fd-create-diagrams.ucd-caption"}}</div>
      <div>{{t "components.fd-create-diagrams.ucd-it-is"}}</div>
    </button>
  </div>
</div>
