<div class="ui stackable grid fd-list">

  <div class="row">
    <div class="three wide column">
      {{t "components.fd-enumeration-editing-panel.description-caption"}}
    </div>
    <div class="thirteen wide column light-text">
      {{flexberry-textarea
        value=model.description
        class='fluid input'
        placeholder=(t "components.fd-enumeration-editing-panel.description-placeholder")
      }}
    </div>
  </div>

  <div class="row">
    <div class="three wide column">
      <div>{{t "components.fd-enumeration-editing-panel.packet-caption"}}</div>
    </div>
    <div class="thirteen wide column light-text">
      {{flexberry-textbox
        value=model.packet
        class='fluid input'
        placeholder=(t "components.fd-enumeration-editing-panel.packet-placeholder")
      }}
    </div>
  </div>

  <div class="row">
    <div class="three wide column">
      <div>{{t "components.fd-enumeration-editing-panel.namespace-postfix-caption"}}</div>
    </div>
    <div class="thirteen wide column light-text">
      {{flexberry-textbox
        value=model.namespacePostfix
        class='fluid input'
        placeholder=(t "components.fd-enumeration-editing-panel.namespace-postfix-placeholder")
      }}
    </div>
  </div>

  <div class="row">
    <div class="three wide column">
      <div>{{t "components.fd-enumeration-editing-panel.attributes-caption"}}</div>
    </div>
    <div class="thirteen wide column light-text">

    </div>
  </div>
</div>
