<div class="ui stackable grid fd-list">

  <div class="row">
    <div class="five wide column">
      {{t "components.fd-implementation-editing-panel.caption-caption"}}
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textbox
        value=model.caption
        class='fluid input'
        placeholder=(t "components.fd-implementation-editing-panel.caption-placeholder")
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-implementation-editing-panel.publish-name-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textbox
        value=model.publishName
        class='fluid input'
        placeholder=(t "components.fd-implementation-editing-panel.publish-name-placeholder")
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-implementation-editing-panel.stored-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-checkbox
        value=model.stored
        class='fluid input'
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-implementation-editing-panel.storage-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textbox
        value=model.storage
        class='fluid input'
        placeholder=(t "components.fd-implementation-editing-panel.storage-placeholder")
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-implementation-editing-panel.bs-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-dropdown
        items=bsItems.names
        value=bsValue
        class='compact input'
        onChange=(action "changeBsValue")
        readonly=readonly
      }}
    </div>
  </div>

  {{#if model.businessServerClass}}
  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-implementation-editing-panel.bs-events-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-dropdown
        items=(flexberry-enum 'i-c-s-soft-s-t-o-r-m-n-e-t-business-data-service-object-events')
        value=model.businessServerEvents
        class='compact'
        readonly=readonly
      }}
    </div>
  </div>
  {{/if}}

  <div class="row">
    {{#flexberry-toggler
        caption=(t 'components.fd-implementation-editing-panel.toggler-caption')
        expanded=false
    }}
    <div class="ui stackable grid fd-list">
      <div class="row">
        <div class="five wide column">
          {{t "components.fd-implementation-editing-panel.description-caption"}}
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-textarea
            value=model.description
            class='fluid input'
            placeholder=(t "components.fd-implementation-editing-panel.description-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.packet-caption"}}</div>
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-textbox
            value=model.packet
            class='fluid input'
            placeholder=(t "components.fd-implementation-editing-panel.packet-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.namespace-postfix-caption"}}</div>
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-textbox
            value=model.namespacePostfix
            class='fluid input'
            placeholder=(t "components.fd-implementation-editing-panel.namespace-postfix-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
    </div>
    {{/flexberry-toggler}}
  </div>

  <div class="row">
    {{#flexberry-toggler
        caption=(t 'components.fd-implementation-editing-panel.toggler-authority-caption')
        expanded=false
    }}
    <div class="ui stackable grid fd-list">
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.accesstype-caption"}}</div>
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-checkbox
            onChange=(action "changeAccessType")
            value=(eq model.accessType "this")
            class='fluid input'
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.audit-enabled-caption"}}</div>
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-checkbox
            value=model.auditEnabled
            class='fluid input'
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.use-default-view-caption"}}</div>
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-checkbox
            value=model.useDefaultView
            class='fluid input'
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.insert-audit-caption"}}</div>
        </div>
        <div class="two wide column light-text">
          {{flexberry-checkbox
            value=model.insertAudit
            class='fluid input'
            readonly=readonly
          }}
        </div>
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.insert-audit-view-name-caption"}}</div>
        </div>
        <div class="four wide column light-text">
          {{flexberry-textbox
            value=model.insertAuditViewName
            class=(concat 'fluid input' (if model.insertAudit '' ' disabled'))
            placeholder=(t "components.fd-implementation-editing-panel.insert-audit-view-name-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.delete-audit-caption"}}</div>
        </div>
        <div class="two wide column light-text">
          {{flexberry-checkbox
            value=model.deleteAudit
            class='fluid input'
            readonly=readonly
          }}
        </div>
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.delete-audit-view-name-caption"}}</div>
        </div>
        <div class="four wide column light-text">
          {{flexberry-textbox
            value=model.deleteAuditViewName
            class=(concat 'fluid input' (if model.deleteAudit '' ' disabled'))
            placeholder=(t "components.fd-implementation-editing-panel.delete-audit-view-name-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.update-audit-caption"}}</div>
        </div>
        <div class="two wide column light-text">
          {{flexberry-checkbox
            value=model.updateAudit
            class='fluid input'
            readonly=readonly
          }}
        </div>
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.update-audit-view-name-caption"}}</div>
        </div>
        <div class="four wide column light-text">
          {{flexberry-textbox
            value=model.updateAuditViewName
            class=(concat 'fluid input' (if model.updateAudit '' ' disabled'))
            placeholder=(t "components.fd-implementation-editing-panel.update-audit-view-name-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div>{{t "components.fd-implementation-editing-panel.form-url-caption"}}</div>
        </div>
        <div class="eleven wide column light-text">
          {{flexberry-textbox
            value=model.formUrl
            class='fluid input'
            placeholder=(t "components.fd-implementation-editing-panel.form-url-placeholder")
            readonly=readonly
          }}
        </div>
      </div>
    </div>
    {{/flexberry-toggler}}
  </div>

  {{fd-attribute-table
    tableView=tableViewAttribute
    buttonCaption=attributeButton
    model=model.attributes
    create=(action 'createAttribute')
    readonly=readonly
  }}

  {{fd-attribute-table
    tableView=tableViewMethods
    buttonCaption=methodsButton
    model=model.methods
    create=(action 'createMethod')
    readonly=readonly
  }}

  {{fd-attribute-table
    tableView=tableViewForView
    buttonCaption=viewButton
    model=model.views
    create=(action 'createView')
    edit=(action 'editView')
    editButtonInRow=true
    readonlyButton=model.isNew
    readonly=readonly
  }}

  {{fd-attribute-table
    tableView=tableClassStorageTypes
    buttonCaption=classStorageTypesButton
    dropdownItemsObject=storagesItems.names
    model=model.classStorageTypes
    create=(action 'createStorage')
    dropdownChange=(action 'dropdownChangeStorage')
  }}

</div>
