<div class="ui stackable grid fd-list">

  <div class="row">
    <div class="five wide column">
      {{t "components.fd-interface-editing-panel.description-caption"}}
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textarea
        value=model.description
        class='fluid input'
        placeholder=(t "components.fd-interface-editing-panel.description-placeholder")
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-interface-editing-panel.packet-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textbox
        value=model.packet
        class='fluid input'
        placeholder=(t "components.fd-interface-editing-panel.packet-placeholder")
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-interface-editing-panel.namespace-postfix-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-textbox
        value=model.namespacePostfix
        class='fluid input'
        placeholder=(t "components.fd-interface-editing-panel.namespace-postfix-placeholder")
        readonly=readonly
      }}
    </div>
  </div>

  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-interface-editing-panel.bs-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-dropdown
        items=bsItems.names
        value=bsValue
        class='compact input'
        onChange=(action "changeBsValue")
        readonly=readonly
      }}
    </div>
  </div>

  {{#if model.businessServerClass}}
  <div class="row">
    <div class="five wide column">
      <div>{{t "components.fd-interface-editing-panel.bs-events-caption"}}</div>
    </div>
    <div class="eleven wide column light-text">
      {{flexberry-dropdown
        items=(flexberry-enum 'i-c-s-soft-s-t-o-r-m-n-e-t-business-data-service-object-events')
        value=model.businessServerEvents
        class='compact'
        readonly=readonly
      }}
    </div>
  </div>
  {{/if}}

  {{fd-attribute-table
    tableView=tableViewAttribute
    buttonCaption=attributeButton
    model=model.attributes
    create=(action 'createAttribute')
    readonly=readonly
  }}

  {{fd-attribute-table
    tableView=tableViewMethods
    buttonCaption=methodsButton
    model=model.methods
    create=(action 'createMethod')
    readonly=readonly
  }}

</div>
