<h3>{{t "forms.fd-generation.generation-log"}}</h3>

<div class="ui stackable grid fd-list">
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.start-time"}}</div>
    <div class="thirteen wide column">{{moment-format generation.startTime "DD.MM.YYYY HH:mm:ss.SSS"}}</div>
  </div>
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.end-time"}}</div>
    <div class="thirteen wide column">{{moment-format generation.endTime "DD.MM.YYYY HH:mm:ss.SSS"}}</div>
  </div>
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.state"}}</div>
    <div class="thirteen wide column">{{generation.state}}</div>
  </div>
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.generation-reason"}}</div>
    <div class="thirteen wide column">{{generation.generationReason}}</div>
  </div>
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.user-name"}}</div>
    <div class="thirteen wide column">{{generation.userName}}</div>
  </div>
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.is-running"}}</div>
    <div class="thirteen wide column">{{generation.isRunning}}</div>
  </div>
  <div class="row">
    <div class="three wide column">{{t "forms.fd-generation.percent-complete"}}</div>
    <div class="thirteen wide column">{{generation.percentComplete}}</div>
  </div>
</div>

<pre>
{{#each generationSteps as |step|}}
[{{moment-format step.time "DD.MM.YYYY HH:mm:ss.SSS"}}]: {{step.text}}
{{/each}}
</pre>