<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-decision"}}
  type='button' onclick={{action toolbarButtonClicked "addDecision"}}>
  <img src="assets/images/diagrams/cad/nlink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-decision"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-state"}}
  type='button' onclick={{action toolbarButtonClicked "addActiveState"}}>
  <img src="assets/images/diagrams/activity/activeState.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-start-state"}}
  type='button' onclick={{action toolbarButtonClicked "addStartState"}}>
  <img src="assets/images/diagrams/activity/startState.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-start-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-final-state"}}
  type='button' onclick={{action toolbarButtonClicked "addFinalState"}}>
  <img src="assets/images/diagrams/activity/finalState.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-final-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}
  type='button' onclick={{action toolbarButtonClicked "addComplexTransitionH"}}>
  <img src="assets/images/diagrams/cad/assoc.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}
  type='button' onclick={{action toolbarButtonClicked "addComplexTransitionV"}}>
  <img src="assets/images/diagrams/activity/complexTransitionV.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object-in-state"}}
  type='button' onclick={{action toolbarButtonClicked "addObjectInState"}}>
  <img src="assets/images/diagrams/cad/instance.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object-in-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-receipt"}}
  type='button' onclick={{action toolbarButtonClicked "addSignalReceiptL"}}>
  <img src="assets/images/diagrams/activity/receiptLeft.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-receipt"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-receipt"}}
  type='button' onclick={{action toolbarButtonClicked "addSignalReceiptR"}}>
  <img src="assets/images/diagrams/activity/receiptRight.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-receipt"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-sending"}}
  type='button' onclick={{action toolbarButtonClicked "addSignalSendingL"}}>
  <img src="assets/images/diagrams/activity/signalSendingLeft.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-sending"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-sending"}}
  type='button' onclick={{action toolbarButtonClicked "addSignalSendingR"}}>
  <img src="assets/images/diagrams/activity/signalSendingRight.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-signal-sending"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-transition"}}
  type='button' onclick={{action toolbarButtonClicked "addTransition"}}>
  <img src="assets/images/diagrams/activity/transition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-transition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object-flow"}}
  type='button' onclick={{action toolbarButtonClicked "addObjectFlow"}}>
  <img src="assets/images/diagrams/common/dependency.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object-flow"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-partition"}}
  type='button' onclick={{action toolbarButtonClicked "addPartition"}}>
  <img src="assets/images/diagrams/activity/partition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-partition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-swimline-separator"}}
  type='button' onclick={{action toolbarButtonClicked "addSwimlineSeparatorH"}}>
  <img src="assets/images/diagrams/activity/swimlaneSeparatorH.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-swimline-separator"}}
  type='button' onclick={{action toolbarButtonClicked "addSwimlineSeparatorV"}}>
  <img src="assets/images/diagrams/activity/swimlaneSeparatorV.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}>
</button>

<span title={{t "forms.fd-diagram-edit-form.form-config-panel.reset-select-object"}}>
  {{flexberry-checkbox
    value=resetSelectObject
    class="toggle"
  }}
</span>
