<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-actor"}}
  type='button' onclick={{action toolbarButtonClicked "addActor"}}>
  <img src="assets/images/diagrams/cod/actor.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-actor"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-instance"}}
  type='button' onclick={{action toolbarButtonClicked "addInstance"}}>
  <img src="assets/images/diagrams/cad/instance.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-instance"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-multi-object"}}
  type='button' onclick={{action toolbarButtonClicked "addMultiObject"}}>
  <img src="assets/images/diagrams/cad/multiobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-multi-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}
  type='button' onclick={{action toolbarButtonClicked "addActiveObject"}}>
  <img src="assets/images/diagrams/cad/activeobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association"}}
  type='button' onclick={{action toolbarButtonClicked "addNaryAssociation"}}>
  <img src="assets/images/diagrams/cad/nlink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-design-pattern"}}
  type='button' onclick={{action toolbarButtonClicked "addDesignPattern"}}>
  <img src="assets/images/diagrams/cod/designpattern.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-design-pattern"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addOnCodNaryAssociationConnector"}}>
  <img src="assets/images/diagrams/cad/narylink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association-connector"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-association"}}
  type='button' onclick={{action toolbarButtonClicked "addAssociationLink"}}>
  <img src="assets/images/diagrams/cad/assoc.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-link"}}
  type='button' onclick={{action toolbarButtonClicked "addOnCodQualifiedLink"}}>
  <img src="assets/images/diagrams/cad/qlink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-link"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-aggregation"}}
  type='button' onclick={{action toolbarButtonClicked "addAggregationLink"}}>
  <img src="assets/images/diagrams/cad/aggreg.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-aggregation"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-aggregation-link"}}
  type='button' onclick={{action toolbarButtonClicked "addOnCodQualifiedAggregationLink"}}>
  <img src="assets/images/diagrams/cad/qaggregation.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-aggregation-link"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-composition"}}
  type='button' onclick={{action toolbarButtonClicked "addCompositionLink"}}>
  <img src="assets/images/diagrams/cad/composition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-composition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-composition-link"}}
  type='button' onclick={{action toolbarButtonClicked "addOnCodQualifiedCompositionLink"}}>
  <img src="assets/images/diagrams/cad/qcomposition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-composition-link"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-design-pattern-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addDesignPatternConnector"}}>
  <img src="assets/images/diagrams/cod/designpatternconnector.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-design-pattern-connector"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-inheritance"}}
  type='button' onclick={{action toolbarButtonClicked "addOnCodInheritance"}}>
  <img src="assets/images/diagrams/cad/inherit.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-inheritance"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-backward-nested-message"}}
  type='button' onclick={{action toolbarButtonClicked "addBackwardNestedMessage"}}>
  <img src="assets/images/diagrams/cod/bnestedmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-backward-nested-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-forward-nested-message"}}
  type='button' onclick={{action toolbarButtonClicked "addForwardNestedMessage"}}>
  <img src="assets/images/diagrams/cod/fnestedmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-forward-nested-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-backward-flat-message"}}
  type='button' onclick={{action toolbarButtonClicked "addBackwardFlatMessage"}}>
  <img src="assets/images/diagrams/cod/bflatmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-backward-flat-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-forward-flat-message"}}
  type='button' onclick={{action toolbarButtonClicked "addForwardFlatMessage"}}>
  <img src="assets/images/diagrams/cod/fflatmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-forward-flat-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-backward-async-message"}}
  type='button' onclick={{action toolbarButtonClicked "addBackwardAsyncMessage"}}>
  <img src="assets/images/diagrams/cod/basyncmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-backward-async-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-forward-async-message"}}
  type='button' onclick={{action toolbarButtonClicked "addForwardAsyncMessage"}}>
  <img src="assets/images/diagrams/cod/fasyncmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-forward-async-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>
