<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-class"}}
  type='button' onclick={{action toolbarButtonClicked "addClass" }}>
  <img src="assets/images/diagrams/cad/class.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-class"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-association"}}
  type='button' onclick={{action toolbarButtonClicked "addAssociation"}}>
  <img src="assets/images/diagrams/cad/assoc.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-aggregation"}}
  type='button' onclick={{action toolbarButtonClicked "addAggregation"}}>
  <img src="assets/images/diagrams/cad/aggreg.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-aggregation"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-composition"}}
  type='button' onclick={{action toolbarButtonClicked "addComposition"}}>
  <img src="assets/images/diagrams/cad/composition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-composition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-inheritance"}}
  type='button' onclick={{action toolbarButtonClicked "addInheritance"}}>
  <img src="assets/images/diagrams/cad/inherit.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-inheritance"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-realization"}}
  type='button' onclick={{action toolbarButtonClicked "addRealization"}}>
  <img src="assets/images/diagrams/cad/realization.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-realization"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nested-class-association"}}
  type='button' onclick={{action toolbarButtonClicked "addNestedClassAssociation"}}>
  <img src="assets/images/diagrams/cad/nestedassoc.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nested-class-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-template-class"}}
  type='button' onclick={{action toolbarButtonClicked "addTemplateClass"}}>
  <img src="assets/images/diagrams/cad/templateclass.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-template-class"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-instance"}}
  type='button' onclick={{action toolbarButtonClicked "addInstance"}}>
  <img src="assets/images/diagrams/cad/instance.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-instance"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}
  type='button' onclick={{action toolbarButtonClicked "addActiveObject"}}>
  <img src="assets/images/diagrams/cad/activeobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-multi-object"}}
  type='button' onclick={{action toolbarButtonClicked "addMultiObject"}}>
  <img src="assets/images/diagrams/cad/multiobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-multi-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-property-object"}}
  type='button' onclick={{action toolbarButtonClicked "addPropertyObject"}}>
  <img src="assets/images/diagrams/cad/propobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-property-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association"}}
  type='button' onclick={{action toolbarButtonClicked "addNaryAssociation"}}>
  <img src="assets/images/diagrams/cad/nlink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNaryAssociationConnector"}}>
  <img src="assets/images/diagrams/cad/narylink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-nary-association-connector"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-link"}}
  type='button' onclick={{action toolbarButtonClicked "addQualifiedLink"}}>
  <img src="assets/images/diagrams/cad/qlink.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-link"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-composition-link"}}
  type='button' onclick={{action toolbarButtonClicked "addQualifiedCompositionLink"}}>
  <img src="assets/images/diagrams/cad/qcomposition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-composition-link"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-aggregation-link"}}
  type='button' onclick={{action toolbarButtonClicked "addQualifiedAggregationLink"}}>
  <img src="assets/images/diagrams/cad/qaggregation.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-qualified-aggregation-link"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-more-classes"}}
  type='button' onclick={{action toolbarButtonClicked "addMoreClasses"}}>
  <img src="assets/images/diagrams/cad/moreclasses.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-more-classes"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dependency"}}
  type='button' onclick={{action toolbarButtonClicked "addDependency"}}>
  <img src="assets/images/diagrams/common/dependency.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dependency"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-packege"}}
  type='button' onclick={{action toolbarButtonClicked "addPackage"}}>
  <img src="assets/images/diagrams/common/package.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-packege"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object-association"}}
  type='button' onclick={{action toolbarButtonClicked "addObjectAssociation"}}>
  <img src="assets/images/diagrams/common/complextransitionh.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>
