<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-component"}}
  type='button' onclick={{action toolbarButtonClicked "adddOnDpdComponent"}}>
  <img src="assets/images/diagrams/dpd/component.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-component"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-component-instance"}}
  type='button' onclick={{action toolbarButtonClicked "adddOnDpdComponent"}}>
  <img src="assets/images/diagrams/dpd/componentinstance.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-component-instance"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-interface"}}
  type='button' onclick={{action toolbarButtonClicked "addInterface"}}>
  <img src="assets/images/diagrams/dpd/interface.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-interface"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-node"}}
  type='button' onclick={{action toolbarButtonClicked "addOnDpdUmlNode"}}>
  <img src="assets/images/diagrams/dpd/node.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-node"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-node-instance"}}
  type='button' onclick={{action toolbarButtonClicked "addOnDpdUmlNode"}}>
  <img src="assets/images/diagrams/dpd/nodeinstance.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-node-instance"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object"}}
  type='button' onclick={{action toolbarButtonClicked "addInstance"}}>
  <img src="assets/images/diagrams/dpd/object.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}
  type='button' onclick={{action toolbarButtonClicked "addDeploymentActiveObject"}}>
  <img src="assets/images/diagrams/dpd/activeobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dependency"}}
  type='button' onclick={{action toolbarButtonClicked "addOnDpdDependency"}}>
  <img src="assets/images/diagrams/dpd/dependency.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dependency"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-connection"}}
  type='button' onclick={{action toolbarButtonClicked "addOnDpdConnection"}}>
  <img src="assets/images/diagrams/dpd/connection.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-connection"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>

<span title={{t "forms.fd-diagram-edit-form.form-config-panel.reset-select-object"}}>
  {{flexberry-checkbox
    value=resetSelectObject
    class="toggle"
  }}
</span>
