<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-actor"}}
  type='button' onclick={{action toolbarButtonClicked "addSequenceDiagramActor"}}>
  <img src="assets/images/diagrams/sd/actor.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-actor"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object"}}
  type='button' onclick={{action toolbarButtonClicked "addSequenceDiagramObject"}}>
  <img src="assets/images/diagrams/sd/object.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}
  type='button' onclick={{action toolbarButtonClicked "addSequenceDiagramActiveObject"}}>
  <img src="assets/images/diagrams/sd/activeobject.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-active-object"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-terminator"}}
  type='button' onclick={{action toolbarButtonClicked "addTerminator"}}>
  <img src="assets/images/diagrams/sd/terminator.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-terminator"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-procedure-call"}}
  type='button' onclick={{action toolbarButtonClicked "addProcedureCall"}}>
  <img src="assets/images/diagrams/sd/procedurecall.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-procedure-call"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-flat-message"}}
  type='button' onclick={{action toolbarButtonClicked "addFlatMessage"}}>
  <img src="assets/images/diagrams/sd/flatmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-flat-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-async-message"}}
  type='button' onclick={{action toolbarButtonClicked "addAsyncMessage"}}>
  <img src="assets/images/diagrams/sd/asyncmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-async-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-return-message"}}
  type='button' onclick={{action toolbarButtonClicked "addReturnMessage"}}>
  <img src="assets/images/diagrams/sd/returnmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-return-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-in-scope"}}
  type='button' onclick={{action toolbarButtonClicked "addInScope"}}>
  <img src="assets/images/diagrams/sd/inscope.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-in-scope"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-time-constraint"}}
  type='button' onclick={{action toolbarButtonClicked "addTimeConstraint"}}>
  <img src="assets/images/diagrams/sd/timeconstraint.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-time-constraint"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>
