<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-class"}}
  type='button' onclick={{action toolbarButtonClicked "addStdClass"}}>
  <img src="assets/images/diagrams/cad/instance.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-class"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-state"}}
  type='button' onclick={{action toolbarButtonClicked "addState"}}>
  <img src="assets/images/diagrams/std/state.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-state-ex"}}
  type='button' onclick={{action toolbarButtonClicked "addStateEx"}}>
  <img src="assets/images/diagrams/std/stateex.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-state-ex"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-composite-state"}}
  type='button' onclick={{action toolbarButtonClicked "addStateEx"}}>
  <img src="assets/images/diagrams/std/compositestate.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-composite-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-concurrent-state"}}
  type='button' onclick={{action toolbarButtonClicked "addConcurrentState"}}>
  <img src="assets/images/diagrams/std/concurrent.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-concurrent-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-history"}}
  type='button' onclick={{action toolbarButtonClicked "addHistory"}}>
  <img src="assets/images/diagrams/std/history.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-history"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-deep-history"}}
  type='button' onclick={{action toolbarButtonClicked "addDeepHistory"}}>
  <img src="assets/images/diagrams/std/deephistory.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-deep-history"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-start-state"}}
  type='button' onclick={{action toolbarButtonClicked "addStartStateStd"}}>
  <img src="assets/images/diagrams/std/startstate.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-start-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-final-state"}}
  type='button' onclick={{action toolbarButtonClicked "addFinalStateStd"}}>
  <img src="assets/images/diagrams/std/finalstate.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-final-state"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}
  type='button' onclick={{action toolbarButtonClicked "addComplexTransitionHStd"}}>
  <img src="assets/images/diagrams/std/complextransitionh.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}
  type='button' onclick={{action toolbarButtonClicked "addComplexTransitionVStd"}}>
  <img src="assets/images/diagrams/std/complextransitionv.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-complex-transition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-transition"}}
  type='button' onclick={{action toolbarButtonClicked "addOnStdTransition"}}>
  <img src="assets/images/diagrams/std/transition.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-transition"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-event-message"}}
  type='button' onclick={{action toolbarButtonClicked "addEventMessage"}}>
  <img src="assets/images/diagrams/std/eventmessage.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-event-message"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>

<span title={{t "forms.fd-diagram-edit-form.form-config-panel.reset-select-object"}}>
  {{flexberry-checkbox
    value=resetSelectObject
    class="toggle"
  }}
</span>
