<button class="ui button pointer-button active" type='button' onclick={{action toolbarButtonClicked "pointerClick" }}>
  <img src="assets/images/diagrams/common/Pointer.ico" alt="">
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-usecase"}}
  type='button' onclick={{action toolbarButtonClicked "addUseCase"}}>
  <img src="assets/images/diagrams/ucd/usecase.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-usecase"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-actor"}}
  type='button' onclick={{action toolbarButtonClicked "addActor"}}>
  <img src="assets/images/diagrams/ucd/actor.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-actor"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-boundary"}}
  type='button' onclick={{action toolbarButtonClicked "addBoundary"}}>
  <img src="assets/images/diagrams/ucd/boundary.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-boundary"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-undir-association"}}
  type='button' onclick={{action toolbarButtonClicked "addUndirAssociation"}}>
  <img src="assets/images/diagrams/ucd/undirAssociation.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-undir-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dir-association"}}
  type='button' onclick={{action toolbarButtonClicked "addDirAssociation"}}>
  <img src="assets/images/diagrams/ucd/dirAssociation.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dir-association"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-generalization"}}
  type='button' onclick={{action toolbarButtonClicked "addGeneralization"}}>
  <img src="assets/images/diagrams/ucd/generalization.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-generalization"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dependency"}}
  type='button' onclick={{action toolbarButtonClicked "addDependency"}}>
  <img src="assets/images/diagrams/common/dependency.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-dependency"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}
  type='button' onclick={{action toolbarButtonClicked "addNote"}}>
  <img src="assets/images/diagrams/common/comment.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note"}}>
</button>

<button class="ui button" title={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}
  type='button' onclick={{action toolbarButtonClicked "addNoteConnector"}}>
  <img src="assets/images/diagrams/common/noteconn.ico" alt={{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive.add-note-connector"}}>
</button>
