<div class="content-mini">
  <div class="ui {{if loadingState "active"}} inverted dimmer">
    <div class="ui text loader"></div>
  </div>
  <div class="fd-sheet-header">
    {{fd-sheets/fd-sheets-tool-bar
      sheetComponentName=sheetComponentName
      readonlyMode=readonlyMode
      isNewModel=selectedValue.data.isNew
      sheetButtons=(array 'delete' 'save' 'share' 'dependencies')
      sheetHelper=urlVideoHelp
      toolbarVisible=(not isAddMode)
      saveSheet=(action 'save')
      deleteSheet=(action 'delete')
      contentSheetValue=selectedValue.data
    }}
    {{flexberry-textbox
      value=computedTitle
      placeholder=(t "components.fd-sheets-tool-bar.placeholder-caption")
      readonly=(and (not selectedValue.data.isNew) readonlyMode)
      class='form-header fluid'
      maxlength=maxlength
    }}
  </div>
  <div class="fd-sheet-body {{if readonlyMode "readonly"}}">
    {{#if isAddMode}}
      {{fd-editing-panels/fd-create-entity
        createClassAction=createClass
      }}
    {{else}}
      {{#if (known-for-type (concat "fd-editing-panels/fd-" componentNamePart "-editing-panel"))}}
        {{component (concat "fd-editing-panels/fd-" componentNamePart "-editing-panel")
          model=selectedValue.data
          readonlyMode=readonlyMode
          dataobject=selectedValue.dataobject
          openViewSheetController=(action 'openNestedSheet')
        }}
      {{else}}
        {{fd-editing-panels/fd-custom-editing-panel
          model=selectedValue.data
          readonlyMode=readonlyMode
        }}
      {{/if}}
    {{/if}}
  </div>
</div>
