<div class="content-mini">
  <div class="ui {{if loadingState "active"}} inverted dimmer">
    <div class="ui text loader"></div>
  </div>
  <div class="fd-sheet-header">
    {{fd-sheets/fd-sheets-tool-bar
      sheetComponentName=sheetComponentName
      readonlyMode=readonlyMode
      isNewModel=selectedValue.isNew
      sheetButtons=(array 'save' 'share' (if (not isLink) 'dependencies'))
      sheetHelper=urlVideoHelp
      saveSheet=(action 'save')
      aiToolbarVisible=aiToolbarVisible
      contentSheetValue=selectedValue
    }}
    {{flexberry-textbox
      value=computedTitle
      placeholder=(t "components.fd-sheets-tool-bar.placeholder-caption")
      readonly=(and (not selectedValue.isNew) readonlyMode)
      class='form-header fluid'
      maxlength=maxlength
    }}
  </div>
  <div class="fd-sheet-body {{if (and (not selectedValue.isNew) readonlyMode) "readonly"}}">
    {{#if (known-for-type (concat "fd-editing-panels/fd-" objectEditFormNamePart "-editing-panel" (if isLink '-link' '')))}}
      {{component (concat "fd-editing-panels/fd-" objectEditFormNamePart "-editing-panel" (if isLink '-link' ''))
        model=selectedValue
        readonlyMode=readonlyMode
        openViewSheetController=(action 'openNestedSheet')
        isDiagramEditingPanel=true
      }}
    {{else}}
      {{fd-editing-panels/fd-custom-editing-panel
        model=selectedValue
        readonlyMode=readonlyMode
      }}
    {{/if}}
  </div>
</div>
