<div class="fd-sheet-toolbar">
  {{#if customButtonVisible}}
    <button class="ui button" {{action 'customButtonAction'}}>
      {{t customButtonTitle}}
    </button>
  {{/if}}
  {{#if toolbarVisible}}
    {{#if (and readonlyMode (not isNewModel))}}
      {{#if (not readonlyModeProject)}}
        <button class="ui button" {{action 'edit'}}>
          {{t "components.fd-sheets-tool-bar.edit-caption"}}
        </button>
      {{/if}}
    {{else}}
      {{#if buttonVisible.save}}
        <button class="ui button" {{action 'save'}}>
          {{t "components.fd-sheets-tool-bar.save-caption"}}
        </button>
      {{/if}}
      {{#if (and (not isNewModel) buttonVisible.delete)}}
        <button class="ui icon button" {{action 'delete'}} title={{t "components.fd-sheets-tool-bar.delete-button-title"}}>
          <i class="icon-fd-trash-can icon" ></i>
        </button>
      {{/if}}
      {{#if buttonVisible.steps}}
        <div class="ui large buttons">
          <button class="ui icon button" {{action 'duplicatedHotkeys' 'undo'}} title={{t "components.fd-sheets-tool-bar.undo-button-title"}}>
            <i class="reply icon" ></i>
          </button>
          <button class="ui icon button" {{action 'duplicatedHotkeys' 'redo'}} title={{t "components.fd-sheets-tool-bar.redo-button-title"}}>
            <i class="share icon" ></i>
          </button>
        </div>
      {{/if}}
    {{/if}}
    {{#if buttonVisible.copy}}
      <div class="ui large buttons">
        {{#if (or (not readonlyMode) isNewModel)}}
          <button class="ui icon button cut" {{action 'duplicatedHotkeys' 'cut'}} title={{t "components.fd-sheets-tool-bar.cut-button-title"}}>
            <i class="cut icon" ></i>
          </button>
        {{/if}}
        <button class="ui icon button copy" {{action 'duplicatedHotkeys' 'copy'}} title={{t "components.fd-sheets-tool-bar.copy-button-title"}}>
          <i class="copy icon" ></i>
        </button>
      </div>
    {{/if}}
    {{#if (and (not isNewModel) buttonVisible.print)}}
      <button class="ui icon button" {{action 'print'}} title={{t "components.fd-sheets-tool-bar.print-button-title"}}>
        <i class="print icon" ></i>
      </button>
    {{/if}}
    {{#if (and (not isNewModel) buttonVisible.share)}}
      <button class="ui icon button share" {{action 'share'}} data-content={{t "components.fd-sheets-tool-bar.share-button-data-content"}} title={{t "components.fd-sheets-tool-bar.share-button-title"}}>
        <i class="{{if copied 'check' 'share alternate'}} icon"></i>
      </button>
    {{/if}}
    {{#if (and (not isNewModel) buttonVisible.dependencies)}}
      <button class="ui icon button dependencies" {{action 'showDependencies'}} title={{t "components.fd-sheets-tool-bar.dependencies-button-title"}}>
        <i class="icon icon-fd-diagram"></i>
      </button>
      <div class="ui popup top left transition hidden" data-variation="wide">
        <div class="ui stackable grid fd-list">
          {{fd-attribute-table
            tableView=tableViewDiagrams 
            model=classDiagrams
            edit=(action 'openDependentDiagram')
            toolbarVisible=false
            editButtonInRow=true
            checkboxInRow=false
            readonly=true
          }}
        </div>
      </div>
    {{/if}}
  {{/if}}
  <button class="ui icon button fd-expand" {{action 'expand'}} title={{t "components.fd-sheets-tool-bar.expand-button-title"}}>
    <i class="icon-fd-resize icon" ></i>
  </button>
  <button class="ui icon button" {{action 'closeSheet'}} title={{t "components.fd-sheets-tool-bar.close-button-title"}}>
    <i class="icon-fd-x-mark icon" ></i>
  </button>
</div>
