<div class="fd-sheet-toolbar">
  {{#if sheetHelper}}
    {{fd-view-helper
      url=sheetHelper
      position='right'
    }}
  {{/if}}
  {{#each customButtons as |customButton|}}
    {{#if customButton.buttonVisible}}
      <button
        type="button"
        class="ui {{if customButton.iconClasses 'icon'}} {{if customButton.buttonClasses customButton.buttonClasses}} button"
        title={{if customButton.buttonTitle customButton.buttonTitle}}
        disabled={{customButton.disabled}}
        onclick={{action "customButtonAction" customButton.buttonAction}}>
          {{#if customButton.iconClasses}}
            <i class={{customButton.iconClasses}}></i>
            {{customButton.buttonName}}
          {{else if customButton.buttonName}}
            {{customButton.buttonName}}
          {{else}}
            {{t "components.olv-toolbar.custom-button-text"}}
          {{/if}}
      </button>
    {{/if}}
  {{/each}}
  {{#if toolbarVisible}}
    {{#if (and readonlyMode (not isNewModel))}}
      {{#if (not readonlyModeProject)}}
        <button class="ui button fd-edit" {{action 'edit'}}>
          {{t "components.fd-sheets-tool-bar.edit-caption"}}
        </button>
      {{/if}}
    {{else}}
      {{#if buttonVisible.save}}
        <button class="ui button fd-save" {{action 'save'}}>
          {{t "components.fd-sheets-tool-bar.save-caption"}}
        </button>
      {{/if}}
      {{#if (and (not isNewModel) buttonVisible.delete)}}
        <button class="ui icon button" {{action 'delete'}} title={{t "components.fd-sheets-tool-bar.delete-button-title"}}>
          <i class="icon-fd-trash icon" ></i>
        </button>
      {{/if}}
      {{#if buttonVisible.steps}}
        <div class="ui large buttons">
          <button class="ui icon button" {{action 'duplicatedHotkeys' 'undo'}} title={{t "components.fd-sheets-tool-bar.undo-button-title"}}>
            <i class="icon-fd-undo icon" ></i>
          </button>
          <button class="ui icon button" {{action 'duplicatedHotkeys' 'redo'}} title={{t "components.fd-sheets-tool-bar.redo-button-title"}}>
            <i class="icon-fd-redo icon" ></i>
          </button>
        </div>
      {{/if}}
    {{/if}}
    {{#if buttonVisible.copy}}
      <div class="ui large buttons">
        {{#if (or (not readonlyMode) isNewModel)}}
          <button class="ui icon button cut" {{action 'duplicatedHotkeys' 'cut'}} title={{t "components.fd-sheets-tool-bar.cut-button-title"}}>
            <i class="icon-fd-cut icon" ></i>
          </button>
        {{/if}}
        <button class="ui icon button copy" {{action 'duplicatedHotkeys' 'copy'}} title={{t "components.fd-sheets-tool-bar.copy-button-title"}}>
          <i class="icon-fd-copy icon" ></i>
        </button>
      </div>
    {{/if}}
    {{#if (and (not isNewModel) buttonVisible.print)}}
      <button class="ui icon button" {{action 'print'}} title={{t "components.fd-sheets-tool-bar.print-button-title"}}>
        <i class="icon-fd-print icon" ></i>
      </button>
    {{/if}}
    {{#if (and (not isNewModel) genToolbarVisible)}}
      <div class="ui large buttons">
        <button class="ui icon button" {{action 'generationForSelectedClass' 'code'}} title={{t "components.fd-sheets-tool-bar.code-button-title"}}>
          {{t "components.fd-sheets-tool-bar.code-caption"}}
        </button>
        <button class="ui icon button" {{action 'generationForSelectedClass' 'sql'}} title={{t "components.fd-sheets-tool-bar.sql-button-title"}}>
          {{t "components.fd-sheets-tool-bar.sql-caption"}}
        </button>
      </div>
    {{/if}}
    {{#if (and (not isNewModel) buttonVisible.share)}}
      <button class="ui icon button share" onclick={{action 'share'}} data-content={{t "components.fd-sheets-tool-bar.share-button-data-content"}} title={{t "components.fd-sheets-tool-bar.share-button-title"}}>
        <i class="{{if copied 'check' 'icon-fd-share'}} icon"></i>
      </button>
    {{/if}}
    {{#if (and (not isNewModel) buttonVisible.dependencies)}}
      <button class="ui icon button dependencies" onclick={{action 'showDependencies'}} title={{t "components.fd-sheets-tool-bar.dependencies-button-title"}}>
        <i class="icon icon-fd-diagram"></i>
      </button>
      <div class="ui flowing popup" data-variation="wide">
        {{fd-attribute-table
          tableView=tableViewDiagrams
          model=classDiagrams
          edit=(action 'openDependentDiagram')
          toolbarVisible=false
          editButtonInRow=true
          checkboxInRow=false
          readonly=true
        }}
      </div>
    {{/if}}
  {{/if}}
  <button class="ui icon button fd-expand" {{action 'expand'}} title={{t "components.fd-sheets-tool-bar.expand-button-title"}}>
    <i class="icon-fd-resize icon" ></i>
  </button>
  <button class="ui icon button fd-close" {{action 'closeSheet'}} title={{t "components.fd-sheets-tool-bar.close-button-title"}}>
    <i class="icon-fd-x-mark icon" ></i>
  </button>
</div>
