<div class="fd-centered-new-form">

  <h1>{{t "forms.fd-generation.generation-app"}}</h1>

  <div class="ui stackable grid fd-list-edited">
    <div class="row">
      <div class="four wide column">{{t "forms.fd-generation.git-url"}}</div>
      <div class="twelve wide column">{{flexberry-textbox value=settings.gitUrl placeholder=(t "forms.fd-generation.git-url-placeholder")}}</div>
    </div>
    <div class="row">
      <div class="four wide column">{{t "forms.fd-generation.login"}}</div>
      <div class="twelve wide column">{{flexberry-textbox value=settings.login placeholder=(t "forms.fd-generation.login")}}</div>
    </div>
    <div class="row">
      <div class="four wide column">{{t "forms.fd-generation.password"}}</div>
      <div class="twelve wide column">{{flexberry-textbox value=settings.password placeholder=(t "forms.fd-generation.password")}}</div>
    </div>

  </div>
  <div class="ui stackable grid">
    <div class="center aligned column">
      <button class="ui icon basic button" {{action send "saveAndGenerate" settings}}>
        <i class="stop icon-fd-shipping-box"></i>
        {{t "forms.fd-generation.save-and-generate"}}
      </button>
    </div>
  </div>
</div>