<h2>{{t "forms.fd-generation.generation-list"}}</h2>
<div class="ui form">
  <div class="ui stackable grid">
    <div class="row">
      <button class="ui basic button table-btn" {{action "generate"}}>
        {{t "forms.fd-generation.generate-app"}}
      </button>
      <span class="light-text">{{t "forms.fd-generation.with-selected"}} {{link-to (t "forms.fd-generation.settings") "fd-setting"  class="fd-styled-link"}}</span>
    </div>
  </div>

  <div class="ui stackable grid fd-list-edited">
    {{#each model.generations as |generation|}}
      <div class="row">
        <div class="wide column">{{link-to (moment-format generation.startTime "DD.MM.YYYY HH:mm:ss") "fd-generation.list.log" generation.id}}</div>
      </div>
    {{/each}}
  </div>
</div>

{{#fd-sheet
  title=(t "forms.fd-generation.generation-log")
  sheetComponentName=sheetName
}}
  {{outlet}}
{{/fd-sheet}}
