<div class="ui card">
  <div class="content">

    <div class="two fields">
      <div class="field">
        <h3 class="header">{{t "components.fd-gis-subsystem.name"}}</h3>
        <i class="massive map icon"></i>
      </div>
      {{#if model.enabled}}
        <div class="field">
          <div>{{t "components.fd-gis-subsystem.address"}}</div>
          <div class="description">
            {{flexberry-textbox
              value=model.address
              class='fluid input'
              placeholder=(t 'components.fd-gis-subsystem.address-placeholder')
            }}
          </div>

          <div>{{t "components.fd-gis-subsystem.login"}}</div>
          <div class="description">
            {{flexberry-textbox
              value=model.login
              class='fluid input'
              placeholder=(t 'components.fd-gis-subsystem.login-placeholder')
            }}
          </div>

          <div>{{t "components.fd-gis-subsystem.password"}}</div>
          <div class="description">
            {{flexberry-textbox
              value=model.password
              class='fluid input'
              placeholder=(t 'components.fd-gis-subsystem.password-placeholder')
            }}
          </div>

          <div>{{t "components.fd-gis-subsystem.type-database"}}</div>
          <div class="description">
            {{flexberry-dropdown
              items=(flexberry-enum 'fd-database-type')
              value=model.typeDatabase
              class='compact'
            }}
          </div>

          <div>{{t "components.fd-gis-subsystem.connection-string"}}</div>
          <div class="description">
            {{flexberry-textbox
              value=model.connectionString
              class='fluid input'
              placeholder=(t 'components.fd-gis-subsystem.connection-string-placeholder')
            }}
          </div>
        </div>
      {{/if}}
    </div>

    <div class="right floated">
      {{flexberry-checkbox
        value=model.enabled
        class='fluid input'
      }}
    </div>
  </div>
</div>
