<div class="row">
  {{#each tableView as |tableView|}}
    <div class="column light-text fd-table-header">
      {{t tableView.columnCaption}}
    </div>
  {{/each}}
</div>

{{#each model as |value|}}
  {{#if (not value.isDeleted)}}
    <div class="row">
      {{#if checkboxInRow}}
        <div class="column fd-table-checkbox">
          {{flexberry-checkbox
            onChange=(action 'selectValue' value)
            readonly=readonly
          }}
        </div>
      {{/if}}
      {{#each tableView as |tableView|}}
        <div class="column light-text">
          {{#if tableView.isDropDown}}
            {{flexberry-dropdown
              items=dropdownItemsObject
              value=(if (get value tableView.columnProperty) (get value tableView.columnProperty) '')
              onChange=(action 'dropdownChangeValue' value)
              class="fluid input"
              readonly=(or readonly tableTextBoxReadonly)
            }}
          {{else}}
            {{flexberry-textbox
              value=(mut (get value tableView.columnProperty))
              class='fluid input'
              placeholder=(t tableView.attrPlaceholder)
              readonly=(or readonly tableTextBoxReadonly)
            }}
          {{/if}}
        </div>
      {{/each}}
      {{#if editButtonInRow}}
        <div class="fd-edit-button-in-row display-flex">
          <button class="ui basic button icon circular" {{action 'editButtonInRowAction' value}}>
            <i class="icon edit"></i>
          </button>
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/each}}

{{#if toolbarVisible}}
  <div class="row">
    <div class="sixteen wide column buttons-row">
      <button class="ui basic button table-btn {{if (or readonly readonlyButton) 'disabled' ''}}" {{action 'createValue'}}>
        {{t buttonCaption.createBtn}}
      </button>
      <button class="ui basic button table-btn {{if (or readonly readonlyButton) 'disabled' ''}}" {{action 'deleteValue'}}>
        <i class="icon icon-fd-checkbox-checked"></i>
        {{t buttonCaption.deleteBtn}}
      </button>
    </div>
  </div>
{{/if}}
