
  <div class="four wide column light-text">
    {{t "components.fd-attribute-table.attribute-name"}}
  </div>
  <div class="four wide column light-text"> 
    {{t "components.fd-attribute-table.attribute-caption"}}
  </div>
  <div class="four wide column light-text">
    {{t "components.fd-attribute-table.attribute-type"}}
  </div>
  <div class="four wide column light-text"> 
    {{t "components.fd-attribute-table.attribute-description"}}
  </div>

  <div class="four wide column">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>{{t "components.fd-attribute-table.attribute-date"}}</label>
    </div>
  </div>
  <div class="four wide column light-text"> 
    {{flexberry-textbox
      class='fluid input'
      placeholder=(t "components.fd-attribute-table.attribute-caption")
    }}
  </div>
  <div class="four wide column">
    <div class="">DateTime</div>
  </div>
  <div class="four wide column light-text"> 
    {{flexberry-textbox
      class='fluid input'
      placeholder=(t "components.fd-attribute-table.attribute-description")
    }}
  </div>
  <div class="four wide column">
    <div class="ui checkbox">
      <input type="checkbox">
      <label>{{t "components.fd-attribute-table.attribute-full-name"}}</label>
    </div>
  </div>
  <div class="four wide column light-text"> 
    {{flexberry-textbox
      class='fluid input'
      placeholder=(t "components.fd-attribute-table.attribute-caption")
    }}
  </div>
  <div class="four wide column">
    <div class="">String</div>
  </div>
  <div class="four wide column light-text"> 
    {{flexberry-textbox
      class='fluid input'
      placeholder=(t "components.fd-attribute-table.attribute-description")
    }}
  </div>
  <div class="sixteen wide column buttons-row">
    <button class="ui basic button table-btn">
      {{t "components.fd-attribute-table.attribute-createBtn"}}
    </button>
    <button class="ui basic button table-btn"> 
      <i class="icon icon-fd-checkbox-checked"></i>
      {{t "components.fd-attribute-table.attribute-deleteBtn"}}
    </button>
  </div>
