  {{#each tableView as |tableView|}}
    <div class="four wide column light-text fd-table">
      {{t tableView.columnCaption}}
    </div>
  {{/each}}
  {{#each model as |value|}}
    {{#if (not value.isDeleted)}}
      <div class="one wide column fd-table-checkbox">
        <div class="ui checkbox">
          <input type="checkbox" onchange={{action 'selectValue' value}}>
          <label> </label>
        </div>
      </div>
      {{#each tableView as |tableView|}}
        <div class="{{tableView.columnClass}} wide column light-text fd-table">
          {{#if tableView.isDropDown}}
            {{flexberry-dropdown
              items=dropdownItemsObject
              value=(if (get value tableView.columnProperty) (get value tableView.columnProperty) '')
              onChange=(action 'dropdownChangeValue' value)
              class="fluid input"
            }}
          {{else}}
            {{flexberry-textbox
              value=(mut (get value tableView.columnProperty))
              class='fluid input'
              placeholder=(t tableView.attrPlaceholder)
            }}
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
  {{/each}}

  <div class="sixteen wide column buttons-row fd-table">
    <button class="ui basic button table-btn" {{action 'createValue'}}>
      {{t buttonCaption.createBtn}}
    </button>
    <button class="ui basic button table-btn" {{action 'deleteValue'}}>
      <i class="icon icon-fd-checkbox-checked"></i>
      {{t buttonCaption.deleteBtn}}
    </button>
  </div>
