<div class="row">
  <div class="three wide column light-text">
    {{t "forms.fd-application-model.entity-caption"}}
  </div>
  <div class="thirteen wide column">
    {{
      fd-list-item
      model=entity.settings
      caption=entity.settings.data.name
      sheetComponentName=sheetComponentName
    }}
  </div>

  {{!-- EForm --}}
  {{#if (not-eq entity.editForms.length 0)}}
    <div class="three wide column light-text">
      {{t "forms.fd-application-model.editor-caption"}}
    </div>
    <div class="thirteen wide column">
      {{#each entity.editForms as |editForm|}}
        {{
          fd-list-item
          model=editForm
          caption=editForm.data.name
          sheetComponentName=sheetComponentName
        }}
      {{/each}}
    </div>
  {{/if}}

  {{!-- LForm --}}
  {{#if (not-eq entity.listForms.length 0)}}
    <div class="three wide column light-text">
      {{t "forms.fd-application-model.list-caption"}}
    </div>
    <div class="thirteen wide column">
      {{#each entity.listForms as |listForm|}}
        {{
          fd-list-item
          model=listForm
          caption=listForm.data.name
          sheetComponentName=sheetComponentName
        }}
      {{/each}}
    </div>
  {{/if}}

  {{!-- BS --}}
  {{#if (not-eq entity.bs null)}}
    <div class="three wide column light-text">
      {{t "forms.fd-application-model.bs-caption"}}
    </div>
    <div class="thirteen wide column">
      {{
        fd-list-item
        model=entity.bs
        caption=entity.bs.data.name
        sheetComponentName=sheetComponentName
      }}
    </div>
  {{/if}}

  {{!-- Parents --}}
  {{#if (not-eq entity.parents.length 0)}}
    <div class="three wide column light-text">
      {{t "forms.fd-application-model.parent-caption"}}
    </div>
    <div class="thirteen wide column">
      {{#each entity.parents as |parent|}}
        {{
          fd-list-item
          model=parent
          caption=parent.data.name
          sheetComponentName=sheetComponentName
        }}
      {{/each}}
    </div>
  {{/if}}

  <div class="right floated thirteen wide column">
    {{
      fd-button
      caption=(t "forms.fd-application-model.editor-caption")
      click=(action createClassAction '«editform»' entity.settings.data)
    }}
    {{
      fd-button
      caption=(t "forms.fd-application-model.list-caption")
      click=(action createClassAction '«listform»' entity.settings.data)
    }}
  </div>
</div>
