{{#if isClass}}
  <div class="field">
    <label>{{t "components.fd-color-setting-panel.stereotype-label"}}</label>
    {{flexberry-dropdown
      items=stereotypeItems
      value=stereotypeValue
      class="fluid input"
    }}
    <hr>
  </div>
{{/if}}
<div class="field">
  {{t "components.fd-color-setting-panel.text-color-label"}}
  {{input type="color" value=textValue}}
</div>
<div class="field">
  {{t "components.fd-color-setting-panel.background-color-label"}}
  {{input type="color" value=backgroundValue}}
</div>
<div class="field text-align-center">
  <button class='ui button primary' onclick={{action 'applySettings'}}>
    {{t "components.fd-color-setting-panel.button-caption"}}
  </button>
</div>
