<div class="ui action input">
  {{flexberry-textarea
    value=titleValue
    class='fluid input'
    placeholder=placeholder
    readonly=true
  }}
  {{#if (not readonly)}}
    <button class="ui icon button dse {{if isOpenTable "active"}}" onclick={{action "openTable"}}>
      <i class="icon icon-guideline-edit"></i>
    </button>
  {{/if}}
</div>

{{#if isOpenTable}}
  <div class="ui card custom table dse">
    <div class="content">
      {{fd-attribute-table
        tableView=tableViewDse
        buttonCaption=dseButton
        model=modelDse
        create=(action "createItem")
        delete=(action "deleteItem")
        readonly=readonly
      }}
    </div>
    <button class='ui button primary' onclick={{action 'applySettings'}}>
      {{t "components.fd-data-source-customizer-list.button-caption"}}
    </button>
  </div>
{{/if}}
