<div class="row">
  <div class="sixteen wide column light-text">
    <img src="assets/images/visualEditListFormTop.png" />
    <div class="panel-wrapper overflow-panel">
    <table class="ui celled selectable collapsing table fd-listform">
      <thead>
        <tr>
          {{#each columns as |column|}}
            <th
              class="{{if (eq selectedColumn column) "fd-selected"}} {{unless column.propertyDefinition.visible "blackout"}}"
              title={{column.propertyDefinition.name}}
              {{action "selectColumn" column bubbles=false}}
            >{{or column.caption column.propertyDefinition.name}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each rows as |row|}}
          <tr>
            {{#each columns as |column|}}
              <td class="{{if (eq selectedColumn column) "fd-selected"}} {{unless column.propertyDefinition.visible "blackout"}}" {{action "selectColumn" column bubbles=false}}>&nbsp;</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    </div>
    <img src="assets/images/visualEditListFormBottom.png" />
  </div>
</div>
