<label class="ui button basic {{colorClass}} circular icon {{customClass}}" onclick={{action 'buttonClicked' param}}>
  {{#if _hasIcon}}
    <i class="icon {{iconClass}}"></i>
  {{/if}}
</label>
{{#if _hasCaption}}
<span class="ui basic {{colorClass}} label {{customClass}}">
  {{caption}}
</span>
{{/if}}
