<div class="content-mini">
  <div class="ui {{if loadingState "active"}} inverted dimmer">
    <div class="ui text loader"></div>
  </div>
  <div class="fd-sheet-header">
    <div class="fd-sheet-toolbar">
      {{#if customButtonVisible}}
        <button class="ui button" {{action 'customButtonAction'}}>
          {{t customButtonTitle}}
        </button>
      {{/if}}
      {{#if toolbarVisible}}
        <button class="ui button" {{action 'save'}}>
          {{t "components.fd-sheet.save-caption"}}
        </button>
        <button class="ui icon button" {{action 'delete'}}>
          <i class="icon-fd-trash-can icon" ></i>
        </button>
      {{/if}}
      <button class="ui icon button" {{action 'expand'}}>
        <i class="icon-fd-resize icon" ></i>
      </button>
      <button class="ui icon button" {{action 'closeSheet' false}}>
        <i class="icon-fd-x-mark icon" ></i>
      </button>
    </div>
    {{flexberry-textbox
      value=title
      placeholder=(t "components.fd-sheet.placeholder-caption")
      readonly=readonly
      class='form-header fluid'
      maxlength=maxlength
    }}
  </div>
  <div class="fd-sheet-body">
    {{yield}}
  </div>
  {{#if _showConfirmDialog}}
    {{flexberry-dialog
      caption="Форма подтверждения"
      content="Имеются несохраненные данные"
      approve=(action "closeWithSaving")
      deny=(action "closeWithoutSaving")
      hide=(action "closeConfirmUnsavedDialog")
      approveButtonCaption="Сохранить и закрыть"
      denyButtonCaption="Закрыть без сохраненеия"
      visible=true
    }}
  {{/if}}
</div>
