<div class="content-mini">
  <div class="ui {{if loadingState "active"}} inverted dimmer">
    <div class="ui text loader"></div>
  </div>
  <div class="fd-sheet-header">
    <div class="fd-sheet-toolbar">
      {{#if customButtonVisible}}
        <button class="ui button" {{action 'customButtonAction'}}>
          {{t customButtonTitle}}
        </button>
      {{/if}}      
      {{#if toolbarVisible}}
        <button class="ui button" {{action 'save'}}>
          {{t "components.fd-sheet.save-caption"}}
        </button>
        {{#if (not isNewModel)}}
          <button class="ui icon button" {{action 'delete'}}>
            <i class="icon-fd-trash-can icon" ></i>
          </button>
        {{/if}}
      {{/if}}
      <button class="ui icon button" {{action 'expand'}}>
        <i class="icon-fd-resize icon" ></i>
      </button>
      {{#if printButtonVisible}}
        <button class="ui icon button" {{action 'printButtonAction'}}>
          <i class="print icon" ></i>
        </button>
      {{/if}}
      <button class="ui icon button" {{action 'closeSheet'}}>
        <i class="icon-fd-x-mark icon" ></i>
      </button>
    </div>
    {{flexberry-textbox
      value=title
      placeholder=(t "components.fd-sheet.placeholder-caption")
      readonly=readonly
      class='form-header fluid'
      maxlength=maxlength
    }}
  </div>
  <div class="fd-sheet-body">
    {{yield}}
  </div>
</div>
