{{#ui-dropdown
  class=(concat "flexberry-dropdown " class " selection" (if readonly " disabled" ""))
  onChange=(action 'onChange')
  onHide=(action 'onShowHide')
  onShow=(action 'onShowHide')
  on=on
  allowReselection=allowReselection
  allowAdditions=allowAdditions
  hideAdditions=hideAdditions
  minCharacters=minCharacters
  match=match
  selectOnKeydown=selectOnKeydown
  forceSelection=forceSelection
  allowCategorySelection=allowCategorySelection
  direction=direction
  keepOnScreen=keepOnScreen
  context=context
  fullTextSearch=fullTextSearch
  preserveHTML=preserveHTML
  sortSelect=sortSelect
  showOnFocus=showOnFocus
  allowTab=allowTab
  transition=transition
  duration=duration
  action=action
}}


  <i class="dropdown icon"></i>
  <div class="text">{{text}}</div>
  <div class="menu">
    {{yield}}
    {{#each-in _items as |key value|}}
      {{#if value}}
        <a class="item" data-tab="{{key}}">{{value}}</a>
      {{else}}
        <a class="item" data-tab="_">{{value}}</a>
      {{/if}}
    {{/each-in}}
  </div>
{{/ui-dropdown}}