{{
  fd-uml-diagram
  primitives=model.primitives
  isLinkAdding=isLinkAdding
  paper=paper
  blankPointerClick=(action "blankPointerClick")
  blankContextMenu=(action "blankContextMenu")
  startDragLink=(action "startDragLink")
  endDragLink=(action "endDragLink")
  emptyReferenceCountItems=emptyReferenceCountItems
  fitToContent=(action "fitToContent")
  isCreatedObjectChild=isCreatedObjectChild
  createChildObject=(action "createChildObject")
  openEditFormAction=openEditFormAction
  currentTargetElementIsPointer=currentTargetElementIsPointer
  readonly=readonly
  enableWrapBaseLinks=enableWrapBaseLinks
  enableEditLinks=enableEditLinks
  disableEditLinks=disableEditLinks
}}

{{#animated-if (not readonly) use=transition}}
  {{#if (known-for-type (concat "fd-uml-diagram-toolbars/fd-" diagramType "-toolbar"))}}
    <div class="fd-uml-diagram-toolbar {{if _collapseEditPanelToolbar "fd-toolbar-hidden"}}">
      <button class="ui toggle-diagram-toolbar icon button" onclick={{action 'collapseEditPanelToolbar'}}>
        <i class="caret {{if _collapseEditPanelToolbar "up" "down"}} icon"></i>
      </button>
      <div class="row">
        {{component (concat "fd-uml-diagram-toolbars/fd-" diagramType "-toolbar")
        toolbarButtonClicked=(action "toolbarButtonClicked")}}
      </div>
    </div>
  {{/if}}
{{/animated-if}}
