{{
  fd-uml-diagram
  primitives=model.primitives
  isLinkAdding=isLinkAdding
  type = type
  paper=paper
  blankPointerClick=(action "blankPointerClick")
  blankContextMenu=(action "blankContextMenu")
  startDragLink=(action "startDragLink")
  endDragLink=(action "endDragLink")
  emptyReferenceCountItems=emptyReferenceCountItems
  fitToContent=(action "fitToContent")
  createChildObject = (action "createChildObject")
  openEditFormAction=openEditFormAction
}}

{{#if (known-for-type (concat "fd-uml-diagram-toolbars/fd-" diagramType "-toolbar"))}}
  <div class="fd-uml-diagram-toolbar {{if _collapseEditPanelToolbar "hidden"}}">
    <button class="ui toggle-diagram-toolbar icon button" onclick={{action 'collapseEditPanelToolbar'}}>
      <i class="caret {{if _collapseEditPanelToolbar "up" "down"}} icon"></i>
    </button>
    <div class="row">
      {{component (concat "fd-uml-diagram-toolbars/fd-" diagramType "-toolbar")
      toolbarButtonClicked=(action "toolbarButtonClicked")}}
    </div>
  </div>
{{/if}}
