{{#if visible}}
  <div class="row {{if isActive 'active' ''}}" {{action 'selectedProperty' definition}}>
    {{#if (eq type 'isMaster')}}
      <div class="property-image-wrapper">
        <img class="property-image" alt="master" src="assets/images/master.bmp">
      </div>
    {{/if}}
    
    {{#if (eq type 'isDetail')}}
      <div class="property-image-wrapper">
        <img class="property-image" alt="detail" src="assets/images/datail.png">
      </div>
    {{/if}}
    
    {{#if (eq type 'isProperty')}}
      <div class="property-image-wrapper">
        <img class="property-image" alt="attribute" src="assets/images/attribute.bmp">
      </div>
    {{/if}}
    <div class="thirteen wide column">
      {{flexberry-textbox
        value=definition.name
        readonly=true
        class='fluid'
        placeholder=(t "components.fd-view-definition-item.name-placeholder")
      }}
    </div>
    <div class="three wide column right aligned buttons">
      <button class="super-mini ui basic button icon circular {{if readonly 'disabled' ''}}" {{action 'changeVisible' bubbles=false}}>
        <i class="{{if definition.visible 'eye' 'icon-fd-eye'}} icon"></i>
      </button>
      <button class="super-mini ui basic button icon circular {{if readonly 'disabled' ''}}" {{action delete definition bubbles=false}}>
        <i class="icon-fd-x-mark icon"></i>
      </button>
    </div>
    <div class="sixteen wide column">
      {{flexberry-textbox
        value=definition.caption
        class='fluid fd-view-attr-name'
        placeholder=(t "components.fd-view-definition-item.caption-placeholder")
        readonly=readonly
      }}
    </div>
  </div>
{{/if}}
