{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='negative'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<div class="ui two column grid">
  <div class="column"><h3>{{model.formName}}</h3></div>
  <div class="column">
    <div class="ui grid">
      <div class="white eight wide right aligned column">{{t "forms.fd-visual-edit-list-form.edit-form-header"}}</div>
      <div class="white eight wide column">
        <select id='selectForm' class="ui compact dropdown selection sort-direction-dropdown" {{action 'showForm' n on='change'}}>
          <option></option>
          {{#each listforms as |form|}}
          <option value='{{form.id}}'>{{form.name}}</option>
          {{/each}}
        </select>
        </div>
    </div>
  </div>
</div>
<div class="ui segment grid">
  <div class="row">
    <img src='/assets/images/visualEditListFormTop.png' />
  </div>
</div>
<table cellspacing='0' cellpadding='0' border='0'>
<tr>
<td>
  <table class="ui celled selectable collapsing table">
    <tbody>
      <tr>
        <th>&nbsp;</th>
        {{#each attributes as |attribute index|}}
        <td align='left'>
        <nobr>
          <button
            class="ui button  {{if attribute.firstPosition "disabled" ""}}"
            title='{{t "forms.fd-visual-edit-list-form.move-left-attr"}}'
            {{action "attributeLeft"  index}}>
              <i class="long arrow left icon"></i>
          </button>
            <button
            class="ui button {{if attribute.lastPosition "disabled" ""}}"
            title='{{t "forms.fd-visual-edit-list-form.move-right-attr"}}'
            {{action "attributeRight"  index}}>
            <i class="long arrow right icon"></i>
          </button>
          </nobr>
        </td>
        <td align='right'>
            <button
              class="ui button"
              title='{{t "forms.fd-visual-edit-list-form.remove-attr"}}'
              {{action "attributeDelete"  index}}
              >
            <i class="remove icon"></i>
          </button>
        </td>
        {{/each}}
      </tr>
      <tr id='attributeList'>
        <td>
          {{flexberry-checkbox value=false readonly=true}}
        </td>
        {{#each attributes as |attribute index|}}
        <td colspan='2' align='left' class='' {{action 'attributeShow' index}}>{{attribute.name}}</td>
        {{/each}}
      </tr>
      <tr title='Значения по умолчанию'>
        <td>
          {{flexberry-checkbox value=true readonly=true}}
        </td>
        {{#each attributes as |attribute index|}}
        <td colspan='2' align='left' class='' {{action 'attributeShow' index}}><div class="ui ribbon label">{{attribute.defaultValue}}</div></td>
        {{/each}}
      </tr>

      {{#each rowsValues as |rowsValue rowIndex|}}
      <tr>
        <td>
          {{flexberry-checkbox value=false readonly=true}}
        </td>
        {{#each rowsValue as |value index|}}
        <td colspan='2' align='left' class='' {{action 'attributeShow' index}}>
        {{value}}
        </td>
        {{/each}}
      </tr>
      {{/each}}

    </tbody>
  </table>
</td>
<td valign='top'>
  <button class="ui button create-button" {{action 'attributeCreate'}}>
    <i class="add circle icon"></i>
    {{t "forms.fd-visual-edit-list-form.add-button-text"}}
  </button>
</td>
</tr>
</table>

<img src='/assets/images/visualEditListFormBottom.png' />
