{{#if (not selectedItem)}}
  <div class="ui info message">
    <div class="header">
      {{t 'components.fd-visual-edit-control-tree.selected-element-null'}}
    </div>
    <p>{{t 'components.fd-visual-edit-control-tree.selected-element-change'}}</p>
  </div>
{{else}}

  <div class="field">
    <label>{{t "components.fd-visual-edit-control-tree.header"}}</label>
    {{
      flexberry-textbox
      value=selectedItem.caption
    }}
  </div>

  <div class="field">
    <label>{{t "components.fd-visual-edit-control-tree.property-name"}}</label>
    {{
      flexberry-textbox
      value=selectedItem.propertyDefinition.name
      readonly=true
    }}
  </div>

  {{#flexberry-toggler caption=(t 'components.fd-visual-edit-control-tree.edit-property')}}
    {{#if treeViewMode}}
      <div>
        <div class="ui buttons">
          <button class='ui button icon' {{action "addAttribute" on="click" }}>
            <i class="plus icon"></i>
          </button>
          <button class='ui button icon {{editAttributeDisabled}}' {{action "editAttribute" on="click" }}>
            <i class="edit icon"></i>
          </button>
          <button class='ui button icon {{removeAttributeDisabled}}' {{action "removeAttribute" on="click" }}>
            <i class="remove icon"></i>
          </button>
          <button class='ui button icon {{applyAttributeDisabled}}' {{action "applyAttribute" on="click" }}>
            <i class="check icon"></i>
          </button>
        </div>
        <div class="ui segments panel-wrapper">
          <div class="ui segment overflow-panel">
            {{
              ember-jstree
              actionReceiver=actionReceiverAttributesTree
              selectedNodes=selectedNodesAttributesTree
              data=dataAttributesTree
              plugins=plugins
              typesOptions=typesOptions
              treeObject=treeObjectAttributesTree
              eventDidBecomeReady=(action 'handleTreeDidBecomeReady')
            }}
          </div>
        </div>
      </div>
    {{else}}
    <div class="field">
      <label>{{t "components.fd-visual-edit-control-tree.property-name"}}</label>
      {{
        flexberry-textbox
        value=propertyName
      }}
    </div>
    <div class="field">
      <label>{{t "components.fd-visual-edit-control-tree.type"}}</label>
      <div class="ui segments panel-wrapper">
        <div class="ui segment overflow-panel">
          {{
            ember-jstree
            selectedNodes=selectedNodesTypeTree
            data=dataTypeTree
            plugins=plugins
            typesOptions=typesOptions
          }}
        </div>
      </div>
    </div>
    <button class='ui button {{applyTypeDisabled}}' {{action "applyСlick" on="click" }}>
      {{t "components.fd-visual-edit-control-tree.apply"}}
    </button>
    <button class='ui button' {{action "cancelСlick" on="click" }}>
      {{t "components.fd-visual-edit-control-tree.cancel"}}
    </button>
    {{/if}}
  {{/flexberry-toggler}}

  {{#if (eq selectedItem.type 'detail')}}
    <div class="field">
      <label>{{t "components.fd-visual-edit-control-tree.detail-view"}}</label>
      {{
        flexberry-dropdown
        items=dropdownElements.dropdownItems
        value=dropdownElements.dropdownValue.detailViewName
      }}
    </div>
  {{/if}}
  {{#if (eq selectedItem.type 'master')}}
    <div class="field">
      <label>{{t "components.fd-visual-edit-control-tree.master-list-form"}}</label>
      {{
        flexberry-dropdown
        items=dropdownElements.dropdownItems
        value=dropdownElements.dropdownValue.container
      }}
    </div>
    <div class="field">
      <label>{{t "components.fd-visual-edit-control-tree.master-property"}}</label>
      {{
        flexberry-textbox
        value=selectedItem.propertyDefinition.masterPropertyName
      }}
    </div>
  {{/if}}

  {{#if (or (eq selectedItem.type 'master') (eq selectedItem.type 'detail'))}}
  <div class="field {{if readonly "disabled"}}">
    <label>{{t "components.fd-visual-edit-control-tree.not-null"}}</label>
    {{
      flexberry-checkbox
      onChange=(action "changeMasterNotNull")
      value=(eq selectedAttribute.startMultiplicity "1")
      readonly=(or (eq selectedItem.type 'detail') readonly)
    }}
  </div>
  {{else}}
  <div class="field {{if readonly "disabled"}}">
    <label>{{t "components.fd-visual-edit-control-tree.not-null"}}</label>
    {{
      flexberry-checkbox
      value=selectedAttribute.notNull
      readonly=readonly
    }}
  </div>
  <div class="field">
    <label>{{t "components.fd-visual-edit-control-tree.default-value"}}</label>
    {{
      flexberry-textbox
      value=selectedAttribute.defaultValue
      readonly=readonly
    }}
  </div>
  {{/if}}
  <div class="field">
    <label>{{t "components.fd-visual-edit-control-tree.visibility"}}</label>
    {{
      flexberry-checkbox
      value=selectedItem.propertyDefinition.visible
    }}
  </div>
  <div class="field">
    <label>{{t "components.fd-visual-edit-control-tree.description"}}</label>
    {{
      flexberry-textarea
      value=selectedAttribute.description
      readonly=readonly
    }}
  </div>

{{/if}}
