<div class="field">
    <label>Название</label>
    {{flexberry-textbox
      value=undefined
    }}
</div>
<div class="field">
    <label>Тип</label>
    {{flexberry-dropdown
      items=undefined
      value=undefined
      class=undefined
    }}
</div>
<div class="field">
    <label>Null</label>
    {{flexberry-checkbox
      class="fluid"
      value=undefined
    }}
</div>
<div class="field">
    <label>Значение по умолчанию</label>
    {{flexberry-textbox
      value=undefined
    }}
</div>
<div class="field">
    <label>Только чтение</label>
    {{flexberry-checkbox
      class="fluid"
      value=undefined
    }}
</div>
