{{#if isInAcceptanceTestMode}}
  {{outlet}}
  {{outlet "modal"}}
{{else}}
{{#flexberry-sidebar
  class="inverted vertical main menu"
  settings=(hash
    closable=false
    dimPage=false
    onShow=(action "updateWidth")
    onHidden=(action "updateWidth")
  )
}}
  {{#if (and currentProjectName _sidebarVisible)}}
    <div class = 'current-project-name-header'>
      {{t 'forms.application.sitemap.root.fd-current-project-name-header.caption'}}
    </div>
    <div class = 'current-project-name'>
      {{currentProjectName}}
    </div>
  {{/if}}

  <button {{action 'toggleSidebar'}} class="ui toggle-sidebar-visible icon button">
    <i class="caret left icon"></i>
  </button>

  {{flexberry-sitemap sitemap=sitemap}}

  <div class="sitemap-bottom">
    {{flexberry-sitemap sitemap=sitemapBottom}}
  </div>
{{/flexberry-sidebar}}
<button {{action 'toggleSidebar'}} class="ui toggle-sidebar icon button">
  <i class="caret right icon"></i>
</button>
{{outlet 'right-sidebar'}}

<div id="example" class="pusher">
  <div class="ui form {{appState.state}}">
    <div class="full height">
      <div class="flexberry-content">
         <div class="ui main container fluid">
            {{outlet}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui main container">
  {{outlet "modal"}}
</div>
<div class="ui vertical footer segment">
  <div class="ui container flex-container">
    <div class="social-icons">
      <a target="_blank" class="brand item btn-social" href="http://vk.com/flexberry">
        {{partial "svg-icons/social-icons/vk"}}
        </a>
      <a target="_blank" class="brand item btn-social" href="https://www.facebook.com/groups/Flexberry/">
        {{partial "svg-icons/social-icons/facebook"}}
      </a>
      <a target="_blank" class="brand item btn-social" href="https://twitter.com/Flexberry">
        {{partial "svg-icons/social-icons/twitter"}}
      </a>
      <a target="_blank" class="brand item btn-social" href="https://github.com/Flexberry">
        {{partial "svg-icons/social-icons/github"}}
      </a>
      <a target="_blank" class="brand item btn-social" href="http://www.youtube.com/user/FlexberryPLATFORM">
        {{partial "svg-icons/social-icons/youtube"}}
      </a>
      <a target="_blank" class="brand item btn-social" href="https://gitter.im/Flexberry">
        {{partial "svg-icons/social-icons/gitter"}}
      </a>
    </div>
    <div class="ui text menu">
      {{t "forms.application.footer.application-name"}}
      <div class="copyright-text">
        {{t "forms.application.footer.copyright"}}
      </div>
      <div class="right menu">
        {{flexberry-dropdown
          class="compact"
          items=locales
          value=i18n.locale
          placeholder=(t "forms.application.header.menu.language-dropdown.placeholder")
          direction="upward"
        }}
      </div>

    </div>
  </div>
</div>
{{/if}}
