<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <h3>{{t 'forms.fd-appstruct-form.caption'}}</h3>
  <div class="field">
    <div class="flexberry-edit-panel">
      <button class="ui button {{if (not processMethodologyValue) " disabled"}}" type="button" {{action "openProcessEditorForm"}}><i class="sitemap icon"></i>{{t "forms.fd-appstruct-form.button-precess-editor"}}</button>
      <button class="ui  button" type="button" {{action "openGenerationForm"}}><i class="settings icon"></i>{{t "forms.fd-appstruct-form.button-generation"}}</button>
      {{#if (not singleModeStage)}}
        <button type="button" class="ui button close-button" {{action 'close'}}>
          {{t "forms.edit-form.close-button-text"}}
        </button>
      {{/if}}
    </div>
  </div>

  <div class="panel-wrapper">
    <div class="panel-left closable">
      <div class="ui buttons">
        <button class='ui button icon {{removeLeftNodeDisabled}}' type='button' title="{{t "forms.fd-appstruct-form.remove-text"}}" {{action "removeLeftNode" on="click" }}>
          <i class="remove icon" ></i>
        </button>
        <button class="ui button create-button" type='button' title="{{t "forms.fd-appstruct-form.add-class-text"}}" {{action 'addLeftClass'}}>
          <i class="add circle icon"></i>
        </button>
        <button class="ui button create-button {{addLeftNodeDisabled}}" type='button' title="{{t "forms.fd-appstruct-form.add-editform-text"}}" {{action 'addLeftEditForm'}}>
          <i class="add circle icon"></i><i class="pencil icon"></i>
        </button>
        <button class="ui button create-button {{addLeftNodeDisabled}}" type='button' title="{{t "forms.fd-appstruct-form.add-listform-text"}}" {{action 'addLeftListForm'}}>
          <i class="add circle icon"></i><i class="list ul icon"></i>
        </button>
        <button class='ui button icon {{editLeftNodeDisabled}}' type='button' title="{{t "forms.fd-appstruct-form.edit-text"}}" {{action "editLeftNode" on="click" }}>
          <i class="edit icon"></i>
        </button>
        <button class='ui button icon' type='button' title="{{t "forms.fd-appstruct-form.list-classes-text"}}" {{action "listLeft" on="click" }}>
          <i class="list icon"></i>
        </button>
      </div>
      <div class="ui segments">
        <div class="ui segment">
          {{t "forms.fd-appstruct-form.all-forms-panel-caption"}}
        </div>
        <div class="field">
          {{
            flexberry-textbox
            placeholder=(t 'forms.fd-appstruct-form.search')
            value=searchTermLeft
          }}
        </div>
        <div class="ui segment overflow-panel">
          {{ember-jstree
            actionReceiver=jstreeActionReceiverLeft
            selectedNodes=jstreeSelectedNodesLeft
            data=model.leftTreeNodes
            plugins=pluginsLeft
            searchTerm=searchTermLeft
            searchOptions=searchOptions
            typesOptions=typesOptions
          }}
        </div>
      </div>
    </div>
    <div class="panel-toolbar">
      {{! replace "ui-popup" }}
      <div>
        <button class="ui inverted button icon close-panel-btn" type="button" data-content="{{closeRightPanelBtnMessage}}" {{action "closeRightPanel" on="click" }} >
          <i class="{{if allAttrsHidedn 'chevron right' 'chevron left'}} icon"></i>
        </button>
      </div>
      <button class="ui button icon flexberry-button move {{moveRightDisabled}}" type="button" {{action "moveRightHighlighted" on="click" }}>
        <i class="right long arrow icon"></i>
      </button>
    </div>

    <div class="panel-right">
      <div class="ui buttons">
        <button class='ui button icon {{addRightNodeDisabled}}' type='button' {{action "addUrlNode" on="click" }}>
          <i class="plus icon"></i>
        </button>
        <button class='ui button icon {{editRightNodeDisabled}}' type='button' {{action "editRightNode" on="click" }}>
          <i class="edit icon"></i>
        </button>
        <button class='ui button icon {{removeRightNodeDisabled}}' type='button' {{action "removeRightNode" on="click" }}>
          <i class="remove icon"></i>
        </button>
        <button class='ui button icon {{addFolderNodeDisabled}}' type='button' {{action "addFolderNode" on="click" }}>
          <i class="folder icon"></i>
        </button>
        <button class='ui button icon {{indexSelectedRight.upRightNodeDisabled}}' type='button' {{action "upRightNode" on="click" }}>
          <i class="arrow up icon"></i>
        </button>
        <button class='ui button icon {{indexSelectedRight.downRightNodeDisabled}}' type='button' {{action "downRightNode" on="click" }}>
          <i class="arrow down icon"></i>
        </button>
        <button class='ui button icon' type='button' {{action "saveTree" on="click" }}>
          <i class="arrow save icon"></i>
        </button>
      </div>
      <div class="ui segments">
        <div class="ui segment">
          {{t "forms.fd-appstruct-form.app-forms-panel-caption"}}
        </div>
        <div class="field">
          {{
            flexberry-textbox
            placeholder=(t 'forms.fd-appstruct-form.search')
            value=searchTermRight
          }}
        </div>
        <div class="ui segment overflow-panel">
          {{ember-jstree
            actionReceiver=jstreeActionReceiverRight
            selectedNodes=jstreeSelectedNodesRight
            data=model.rightTreeNodes
            plugins=pluginsRight
            searchTerm=searchTermRight
            searchOptions=searchOptions
            typesOptions=typesOptions
            treeObject=jstreeObjectRight
          }}
        </div>
      </div>
    </div>
  </div>
</form>

{{#if _showModalDialog}}
  {{#modal-dialog
    title=(t "forms.fd-appstruct-form.remove-control")
    ok=(action "removeLeftNode" true)
    settings=(hash
      onHidden=(action set "_showModalDialog" false)
      context=".pusher:first"
    )
  }}
    {{t "forms.fd-appstruct-form.remove-approve"}}
  {{/modal-dialog}}
{{/if}}

{{!-- {{#fd-config-panel}}

  {{#fd-tabs
    tabsMenuTheme="vertical tabular"
    class="ui segments horizontal right-tabs"
    tabClick = (action "toggleConfigPanel")
    activeTab="none"
    overflowedTabs=false
    inactiveTabs=true
    as |tab|
  }}
    <form class="ui form segment">
      <div class="ui segment">
        <div class="ui large header">
          {{t "forms.fd-appstruct-form.form-config-panel.caption"}}
        </div>
      </div>
      {{#tab.pane dataTab='first' title=(t "forms.fd-appstruct-form.form-config-panel.app-properties-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-appstruct-form.form-config-panel.app-properties-header"}}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.name"}}</label>
          {{
            flexberry-textbox
            value=model.applications.0.name
          }}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.description"}}</label>
          {{
            flexberry-textarea
            value=model.applications.0.description
          }}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.caption"}}</label>
          {{
            flexberry-textbox
            value=model.applications.0.caption
          }}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.standart-desktop"}}</label>
          {{
            flexberry-checkbox
            value=model.applications.0.standartDesktop
          }}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.namespace-postfix"}}</label>
          {{
            flexberry-textbox
            value=model.applications.0.namespacePostfix
          }}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.pb-custom-attributes"}}</label>
          {{
            flexberry-checkbox
            value=model.applications.0.pBCustomAttributes
          }}
        </div>
        <div class="field">
          <label>{{t "forms.fd-appstruct-form.tab.disable-all-right-checks"}}</label>
          {{
            flexberry-checkbox
            value=model.applications.0.disableAllRightChecks
          }}
        </div>
      {{/tab.pane}}
      {{#tab.pane dataTab='second' title=(t "forms.fd-appstruct-form.form-config-panel.forms-properties-header") theme="" }}
        {{#if (not-eq jstreeSelectedNodesRight.length 0)}}
          {{#if (and (not-eq selectedElementForEdit.type 'url') (not-eq selectedElementForEdit.type 'folder') (not-eq selectedElementForEdit.type 'desk'))}}
            <div class="field disabled">
              <label>{{t "forms.fd-appstruct-form.tab.formName"}}</label>
              {{
                flexberry-textbox
                value=selectedElementForEdit.className
              }}
            </div>
          {{/if}}
          <div class="field disabled">
            <label>{{t "forms.fd-appstruct-form.tab.formType"}}</label>
            {{
              flexberry-textbox
              value=selectedElementForEdit.type
            }}
          </div>
          {{#if (or (eq selectedElementForEdit.type 'folder') (eq selectedElementForEdit.type 'desk'))}}
            <div class="field {{if (eq selectedElementForEdit.type 'desk') ' disabled'}}">
              <label>{{t "forms.fd-appstruct-form.tab.title"}}</label>
              {{
                flexberry-textbox
                value=selectedElementForEdit.text
              }}
            </div>
          {{else}}
            <div class="field {{if (or (eq selectedElementForEdit.type 'folder') (eq selectedElementForEdit.type 'desk')) ' disabled'}}">
              <label>{{t "forms.fd-appstruct-form.tab.title"}}</label>
              {{
                flexberry-textbox
                value=selectedElementForEdit.caption
              }}
            </div>
          {{/if}}
          {{#if (eq selectedElementForEdit.type 'url')}}
            <div class="field">
              <label>{{t "forms.fd-appstruct-form.tab.url"}}</label>
              {{
                flexberry-textbox
                value=selectedElementForEdit.url
              }}
            </div>
          {{/if}}
          {{#if (and (not-eq selectedElementForEdit.type 'folder') (not-eq selectedElementForEdit.type 'desk'))}}
            <div class="field">
              <label>{{t "forms.fd-appstruct-form.tab.description"}}</label>
              {{
                flexberry-textarea
                value=selectedElementForEdit.description
              }}
            </div>
          {{/if}}
        {{else}}
          <div class="ui info message">
            <div class="header">
              {{t 'forms.fd-appstruct-form.tab.selected-element-null'}}
            </div>
            <p>{{t 'forms.fd-appstruct-form.tab.selected-element-change'}}</p>
          </div>
        {{/if}}
      {{/tab.pane}}
    </form>
  {{/fd-tabs}}

{{/fd-config-panel}} --}}
