<h3>{{t 'forms.fd-appstruct-list-form.caption'}}</h3>


<table>
  <tr >
    <td>
      <div class="ui buttons">
        <button class='ui button icon {{removeLeftNodeDisabled}}' {{action "removeLeftNode" on="click" }}>
          <i class="remove icon" ></i>
        </button>
        <button class='ui button icon {{addLeftNodeDisabled}}' {{action "addLeftNode" on="click" }}>
          <i class="plus icon" disabled></i>
        </button>
        <button class='ui button icon {{editLeftNodeDisabled}}' {{action "editLeftNode" on="click" }}>
          <i class="write icon"></i>
        </button>
        <button class='ui button icon {{listLeftDisabled}}' {{action "listLeft" on="click" }}>
          <i class="list icon"></i>
        </button>
      </div>
    </td>
    <td>&nbsp;</td>
    <td>
      <div class="ui buttons">
        <button class='ui button icon {{removeRightNodeDisabled}}' {{action "removeRightNode" on="click" }}>
          <i class="remove icon"></i>
        </button>
        <button class='ui button icon {{addRightNodeDisabled}}' {{action "moveRightHighlighted" on="click" }}>
          <i class="plus icon"></i>
        </button>
        <button class='ui button icon {{addFolderNodeDisabled}}' {{action "addFolderNode" on="click" }}>
          <i class="folder icon"></i>
        </button>
        <button class='ui button icon {{upRightNodeDisabled}}' {{action "upRightNode" on="click" }}>
          <i class="arrow up icon"></i>
        </button>
        <button class='ui button icon {{downRightNodeDisabled}}' {{action "downRightNode" on="click" }}>
          <i class="arrow down icon"></i>
        </button>
      </div>
    </td>
  </tr>
  <tr>
    <td valign='top'>
        {{flexberry-tree
        class=jsonLeftTreeClass
        exclusive=jsonTreeExclusive
        collapsible=jsonLeftTreeCollapsible
        animateChildren=jsonTreeAnimateChildren
        duration=jsonTreeDuration
        nodes=(get-with-dynamic-actions this "jsonLeftTreeNodes"
          hierarchyPropertyName="nodes"
          pathKeyword="nodePath"
          dynamicActions=(array
            (hash
              on="headerClick"
              actionName="onTreenodeHeaderClick"
              actionArguments=(array "{% nodePath %}")
            )
          )
        )
      }}
    </td>
    <td valign='center' align='center'>
      <button class='ui button icon {{moveRightDisabled}}' {{action "moveRightHighlighted" on="click" }}>
        <i class="chevron right icon"></i>
      </button>
    </td>
    <td valign='top'>
        {{flexberry-tree
        class=jsonRightTreeClass
        exclusive=jsonTreeExclusive
        collapsible=jsonRightTreeCollapsible
        animateChildren=jsonTreeAnimateChildren
        duration=jsonTreeDuration
        nodes=(get-with-dynamic-actions this "jsonRightTreeNodes"
          hierarchyPropertyName="nodes"
          pathKeyword="nodePath"
          dynamicActions=(array
            (hash
              on="headerClick"
              actionName="onTreenodeHeaderClick"
              actionArguments=(array "{% nodePath %}")
            )
          )
        )
      }}
    </td>
  </tr>
</table>


<button class="ui icon {{saveButtonClass}}  button" {{action "saveTree"}}>
  Save
  <!--i class="remove icon" ></i-->
</button>



