{{flexberry-error error=error}}

{{#if showHeader}}
  <h2 class="form-header">{{t "forms.fd-all-projects.caption"}}</h2>

  <div class="ui one column grid fd-projects-toolbar">
    {{fd-search-input value=search}}
    <div>
      {{#link-to "fd-all-projects.new" (query-params nameFromSearch=search) class=(concat "ui basic button table-btn" (if readonlyModeProject " disabled" ""))}}
        {{t "forms.fd-all-projects.create-project"}}
      {{/link-to}}
    </div>
    {{fd-view-helper
      url='https://www.youtube.com/embed/37ltKzNxc8E'
    }}
  </div>
{{/if}}

{{outlet}}
