<form class="ui form flexberry-vertical-form fd-architecture settings-form">
  <div class="fd-sheet-toolbar">
    <button class="ui button {{if readonlyModeProject 'disabled' ''}}" {{action 'save'}}>
      {{t "forms.fd-architecture.save-caption"}}
    </button>
  </div>
  <h2 class='form-header'>
    {{t "forms.fd-architecture.caption"}}
  </h2>
  <div class="fd-form-list">
    <div class='fd-form-list-body'>
      {{fd-architecture-subsystem/fd-gis-subsystem
        model=model.GisSubsystemSettings
        readonly=readonlyModeProject
      }}
    </div>
  </div>
</form>
