<h2 class='form-header'>
  {{t "forms.fd-application-model.caption"}}
</h2>

<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.type-caption"}}
      </div>
      <div class="fourteen wide column">
        {{
          fd-search-input
          value=searchValue
        }}
      </div>
    </div>

    {{!-- Classes --}}
    {{#each filteredModel.classes as |class|}}
      {{
        fd-class-list-items
        entity=class
        sheetComponentName=sheetComponentName
      }}
    {{/each}}

    {{!-- Enums --}}
    {{#if (not-eq filteredModel.enums.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.enum-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.enums as |enum|}}
          {{
            fd-list-item
            model=enum
            caption=enum.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.enum-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Type --}}
    {{#if (not-eq filteredModel.types.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.type-content-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.types as |type|}}
          {{
            fd-list-item
            model=type
            caption=type.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.type-content-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Typedef --}}
    {{#if (not-eq filteredModel.typedefs.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.typedef-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.typedefs as |typedef|}}
          {{
            fd-list-item
            model=typedef
            caption=typedef.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.typedef-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- BS --}}
    {{#if (not-eq filteredModel.bs.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.bs-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.bs as |bs|}}
          {{
            fd-list-item
            model=bs
            caption=bs.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.bs-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Interface --}}
    {{#if (not-eq filteredModel.interfaces.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.interface-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.interfaces as |interface|}}
          {{
            fd-list-item
            model=interface
            caption=interface.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.interface-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- External --}}
    {{#if (not-eq filteredModel.externals.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.external-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.externals as |external|}}
          {{
            fd-list-item
            model=external
            caption=external.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.external-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Extinterface --}}
    {{#if (not-eq filteredModel.extinterfaces.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.extinterface-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.extinterfaces as |extinterface|}}
          {{
            fd-list-item
            model=extinterface
            caption=extinterface.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.extinterface-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Applications --}}
    {{#if (not-eq filteredModel.applications.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.application-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.applications as |application|}}
          {{
            fd-list-item
            model=application
            caption=application.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.application-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Userforms --}}
    {{#if (not-eq filteredModel.userforms.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.userform-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.userforms as |userform|}}
          {{
            fd-list-item
            model=userform
            caption=userform.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.userform-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Userstereotypes --}}
    {{#if (not-eq filteredModel.userstereotypes.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.userstereotype-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each filteredModel.userstereotypes as |userstereotype|}}
          {{
            fd-list-item
            model=userstereotype
            caption=userstereotype.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.userstereotype-caption")
        }}
      </div>
    </div>
    {{/if}}

  </div>
</form>
{{#fd-sheet
  title=selectedElement.model.name
  saveController=(action 'save')
  sheetComponentName=sheetComponentName
}}
  {{#if (known-for-type (concat "fd-editing-panels/fd-" componentNamePart "-editing-panel"))}}
    {{component (concat "fd-editing-panels/fd-" componentNamePart "-editing-panel")
      model=selectedElement.model
    }}
  {{else}}
    {{fd-editing-panels/fd-custom-editing-panel
      model=selectedElement.model
    }}
  {{/if}}

{{/fd-sheet}}

{{#fd-sheet
  title=selectedElement.model.name
  saveController=(action 'save')
  sheetComponentName='view-sheet'
}}
  {{fd-editing-panels/fd-create-view
    model=selectedElement.model
  }}

{{/fd-sheet}}
