<h2 class='form-header'>
  {{t "forms.fd-application-model.caption"}}
</h2>

<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.type-caption"}}
      </div>
      <div class="fourteen wide column">
        {{
          fd-search-input
          model=model
          value=value
        }}
      </div>
    </div>

    {{!-- Classes --}}
    {{#each model.classes as |class|}}
      {{
        fd-class-list-items
        entity=class
      }}
    {{/each}}

    {{!-- Enums --}}
    {{#if (not-eq model.enums.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.enum-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.enums as |enum|}}
          {{
            fd-list-item
            caption=enum.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.enum-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Type --}}
    {{#if (not-eq model.types.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.type-content-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.types as |type|}}
          {{
            fd-list-item
            caption=type.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.type-content-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Typedef --}}
    {{#if (not-eq model.typedefs.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.typedef-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.typedefs as |typedef|}}
          {{
            fd-list-item
            caption=typedef.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.typedef-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- BS --}}
    {{#if (not-eq model.bs.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.bs-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.bs as |bs|}}
          {{
            fd-list-item
            caption=bs.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.bs-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Interface --}}
    {{#if (not-eq model.interfaces.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.interface-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.interfaces as |interface|}}
          {{
            fd-list-item
            caption=interface.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.interface-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- External --}}
    {{#if (not-eq model.externals.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.external-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.externals as |external|}}
          {{
            fd-list-item
            caption=external.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.external-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Extinterface --}}
    {{#if (not-eq model.extinterfaces.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.extinterface-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.extinterfaces as |extinterface|}}
          {{
            fd-list-item
            caption=extinterface.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.extinterface-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Applications --}}
    {{#if (not-eq model.applications.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.application-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.applications as |application|}}
          {{
            fd-list-item
            caption=application.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.application-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Userforms --}}
    {{#if (not-eq model.userforms.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.userform-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.userforms as |userform|}}
          {{
            fd-list-item
            caption=userform.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.userform-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Userstereotypes --}}
    {{#if (not-eq model.userstereotypes.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.userstereotype-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.userstereotypes as |userstereotype|}}
          {{
            fd-list-item
            caption=userstereotype.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.userstereotype-caption")
        }}
      </div>
    </div>
    {{/if}}

  </div>
</form>
{{#fd-sheet
  title = 'Пациент'
}}
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="three wide column">
        {{t "forms.fd-application-model.value-caption"}}
      </div>
      <div class="thirteen wide column light-text">
        {{flexberry-textbox
          class='fluid input'
          placeholder=(t "forms.fd-application-model.entity-header-placeholder")
        }}
      </div>
    </div>
    <div class="row">
      <div class="three wide column">
        <div>{{t "forms.fd-application-model.storage-caption"}}</div>
      </div>
      <div class="thirteen wide column light-text">
        {{flexberry-textbox
          class='fluid input'
          placeholder=(t "forms.fd-application-model.storage-name-placeholder")
        }}
      </div>
      <div class="three wide column">
        <div>{{t "forms.fd-application-model.stored-caption"}}</div>
      </div>
      <div class="thirteen wide column light-text">
        {{flexberry-textbox
          class='fluid input'
          placeholder=(t "forms.fd-application-model.storage-name-placeholder")
        }}
      </div>
      <div class="three wide column">
        <div>{{t "forms.fd-application-model.bs-caption"}}</div>
      </div>
      <div class="thirteen wide column light-text">
        <div>Нет значения</div>
      </div>
    </div>
  </div>
{{/fd-sheet}}
