<h2 class='form-header'>
  {{t "forms.fd-application-model.caption"}}
</h2>

<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.type-caption"}}
      </div>
      <div class="fourteen wide column">
        {{
          fd-search-input
          model=model
          value=value
        }}
      </div>
    </div>

    {{!-- Enums --}}
    {{#if (not-eq model.enums.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.enum-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.enums as |enum|}}
          {{
            fd-list-item
            caption=enum.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.enum-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Classes --}}
    {{#each model.classes as |class|}}
      {{
        fd-class-list-items
        entity=class
      }}
    {{/each}}

    {{!-- Type --}}
    {{#if (not-eq model.types.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.type-content-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.types as |type|}}
          {{
            fd-list-item
            caption=type.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.type-content-caption")
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Typedef --}}
    {{#if (not-eq model.typedefs.length 0)}}
    <div class="row">
      <div class="two wide column light-text">
        {{t "forms.fd-application-model.typedef-caption"}}
      </div>
      <div class="fourteen wide column">
        {{#each model.typedefs as |typedef|}}
          {{
            fd-list-item
            caption=typedef.name
          }}
        {{/each}}
      </div>
      <div class="right floated fourteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.typedef-caption")
        }}
      </div>
    </div>
    {{/if}}

  </div>
</form>
{{#fd-sheet
  title = 'Пациент'
}}
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="three wide column">
        {{t "forms.fd-application-model.value-caption"}}
      </div>
      <div class="thirteen wide column light-text">
        {{flexberry-textbox
          class='fluid input'
          placeholder=(t "forms.fd-application-model.entity-header-placeholder")
        }}
      </div>
    </div>
    <div class="row">
      <div class="three wide column">
        <div>{{t "forms.fd-application-model.storage-caption"}}</div>
      </div>
      <div class="thirteen wide column light-text">
        {{flexberry-textbox
          class='fluid input'
          placeholder=(t "forms.fd-application-model.storage-name-placeholder")
        }}
      </div>
      <div class="three wide column">
        <div>{{t "forms.fd-application-model.stored-caption"}}</div>
      </div>
      <div class="thirteen wide column light-text">
        {{flexberry-textbox
          class='fluid input'
          placeholder=(t "forms.fd-application-model.storage-name-placeholder")
        }}
      </div>
      <div class="three wide column">
        <div>{{t "forms.fd-application-model.bs-caption"}}</div>
      </div>
      <div class="thirteen wide column light-text">
        <div>Нет значения</div>
      </div>
    </div>
  </div>
{{/fd-sheet}}
