{{flexberry-error error=error}}
<h3>{{t 'forms.fd-appstruct-list-form.caption'}}</h3>
<div class="field">
  <div class="flexberry-edit-panel">
    <button class="ui {{saveButtonClass}} button save-button" {{action "saveTree"}}>{{t "forms.fd-appstruct-list-form.button-save"}}</button>
    <button class="ui {{processButtonClass}} button" {{action "openProcessEditorForm"}}><i class="sitemap icon"></i>{{t "forms.fd-appstruct-list-form.button-precess-editor"}}</button>
    <button class="ui {{generationButtonClass}} button" {{action "openGenerationForm"}}><i class="settings icon"></i>{{t "forms.fd-appstruct-list-form.button-generation"}}</button>
  </div>
</div>

<div class="sixteen wide column" style="width: 100%; overflow-x: scroll;">
<table >
  <tr >
    <td>
      <div class="ui buttons">
        <button class='ui button icon {{removeLeftNodeDisabled}}' title="{{t "forms.fd-appstruct-list-form.remove-text"}}" {{action "removeLeftNode" on="click" }}>
          <i class="remove icon" ></i>
        </button>
        <button class="ui button create-button" title="{{t "forms.fd-appstruct-list-form.add-class-text"}}" {{action 'addLeftClass'}}>
          <i class="add circle icon"></i>
        </button>
        <button class="ui button create-button {{addLeftNodeDisabled}}" title="{{t "forms.fd-appstruct-list-form.add-editform-text"}}" {{action 'addLeftEditForm'}}>
          <i class="add circle icon"></i><i class="pencil icon"></i>
        </button>
        <button class="ui button create-button {{addLeftNodeDisabled}}" title="{{t "forms.fd-appstruct-list-form.add-listform-text"}}" {{action 'addLeftListForm'}}>
          <i class="add circle icon"></i><i class="list ul icon"></i>
        </button>
        <button class='ui button icon {{editLeftNodeDisabled}}' title="{{t "forms.fd-appstruct-list-form.edit-text"}}" {{action "editLeftNode" on="click" }}>
          <i class="edit icon"></i>
        </button>
        <button class='ui button icon {{listLeftDisabled}}' {{action "listLeft" on="click" }}>
          <i class="list icon"></i>
        </button>
      </div>
    </td>
    <td>&nbsp;</td>
    <td>
      <div class="ui buttons">
        <button class='ui button icon {{addRightNodeDisabled}}' {{action "moveRightHighlighted" on="click" }}>
          <i class="plus icon"></i>
        </button>
          <button class='ui button icon {{editRightNodeDisabled}}' {{action "editRightNode" on="click" }}>
          <i class="edit icon"></i>
        </button>
        <button class='ui button icon {{removeRightNodeDisabled}}' {{action "removeRightNode" on="click" }}>
          <i class="remove icon"></i>
        </button>
        <button class='ui button icon {{addFolderNodeDisabled}}' {{action "addFolderNode" on="click" }}>
          <i class="folder icon"></i>
        </button>
        <button class='ui button icon {{upRightNodeDisabled}}' {{action "upRightNode" on="click" }}>
          <i class="arrow up icon"></i>
        </button>
        <button class='ui button icon {{downRightNodeDisabled}}' {{action "downRightNode" on="click" }}>
          <i class="arrow down icon"></i>
        </button>
      </div>
    </td>
  </tr>
  <tr>
    <td valign='top'>
        {{flexberry-tree
        class=jsonLeftTreeClass
        exclusive=jsonTreeExclusive
        collapsible=jsonLeftTreeCollapsible
        animateChildren=jsonTreeAnimateChildren
        duration=jsonTreeDuration
        nodes=(get-with-dynamic-actions this "jsonLeftTreeNodes"
          hierarchyPropertyName="nodes"
          pathKeyword="nodePath"
          dynamicActions=(array
            (hash
              on="headerClick"
              actionName="onTreenodeHeaderClick"
              actionArguments=(array "{% nodePath %}")
            )
          )
        )
      }}
    </td>
    <td valign='center' align='center'>
      <button class='ui button icon move {{moveRightDisabled}}' {{action "moveRightHighlighted" on="click" }}>
        <i class="chevron right icon"></i>
      </button>
    </td>
    <td valign='top'>
        {{flexberry-tree
        class=jsonRightTreeClass
        exclusive=jsonTreeExclusive
        collapsible=jsonRightTreeCollapsible
        animateChildren=jsonTreeAnimateChildren
        duration=jsonTreeDuration
        nodes=(get-with-dynamic-actions this "jsonRightTreeNodes"
          hierarchyPropertyName="nodes"
          pathKeyword="nodePath"
          dynamicActions=(array
            (hash
              on="headerClick"
              actionName="onTreenodeHeaderClick"
              actionArguments=(array "{% nodePath %}")
            )
          )
        )
      }}
    </td>
  </tr>
</table>
</div>
