<form class="ui form flexberry-vertical-form" role="form">
{{flexberry-error error=error}}
<h3>{{t 'forms.fd-appstruct-form.caption'}}</h3>
<div class="field">
  <div class="flexberry-edit-panel">
    <button class="ui button" {{action "openProcessEditorForm"}}><i class="sitemap icon"></i>{{t "forms.fd-appstruct-form.button-precess-editor"}}</button>
    <button class="ui  button" {{action "openGenerationForm"}}><i class="settings icon"></i>{{t "forms.fd-appstruct-form.button-generation"}}</button>
    <button type="submit" class="ui button close-button" {{action 'close'}}>
      {{t "forms.edit-form.close-button-text"}}
    </button>
  </div>
</div>

<div class="sixteen wide column" style="width: 100%; overflow-x: scroll;">
<table >
  <tr >
    <td>
      <div class="ui buttons">
        <button class='ui button icon {{removeLeftNodeDisabled}}' title="{{t "forms.fd-appstruct-form.remove-text"}}" {{action "removeLeftNode" on="click" }}>
          <i class="remove icon" ></i>
        </button>
        <button class="ui button create-button" title="{{t "forms.fd-appstruct-form.add-class-text"}}" {{action 'addLeftClass'}}>
          <i class="add circle icon"></i>
        </button>
        <button class="ui button create-button {{addLeftNodeDisabled}}" title="{{t "forms.fd-appstruct-form.add-editform-text"}}" {{action 'addLeftEditForm'}}>
          <i class="add circle icon"></i><i class="pencil icon"></i>
        </button>
        <button class="ui button create-button {{addLeftNodeDisabled}}" title="{{t "forms.fd-appstruct-form.add-listform-text"}}" {{action 'addLeftListForm'}}>
          <i class="add circle icon"></i><i class="list ul icon"></i>
        </button>
        <button class='ui button icon {{editLeftNodeDisabled}}' title="{{t "forms.fd-appstruct-form.edit-text"}}" {{action "editLeftNode" on="click" }}>
          <i class="edit icon"></i>
        </button>
        <button class='ui button icon' {{action "listLeft" on="click" }}>
          <i class="list icon"></i>
        </button>
      </div>
    </td>
    <td>&nbsp;</td>
    <td>
      <div class="ui buttons">
          <button class='ui button icon {{editRightNodeDisabled}}' {{action "editRightNode" on="click" }}>
          <i class="edit icon"></i>
        </button>
        <button class='ui button icon {{removeRightNodeDisabled}}' {{action "removeRightNode" on="click" }}>
          <i class="remove icon"></i>
        </button>
        <button class='ui button icon {{addFolderNodeDisabled}}' {{action "addFolderNode" on="click" }}>
          <i class="folder icon"></i>
        </button>
        <button class='ui button icon {{indexSelectedRight.upRightNodeDisabled}}' {{action "upRightNode" on="click" }}>
          <i class="arrow up icon"></i>
        </button>
        <button class='ui button icon {{indexSelectedRight.downRightNodeDisabled}}' {{action "downRightNode" on="click" }}>
          <i class="arrow down icon"></i>
        </button>
        <button class='ui button icon' {{action "saveTree" on="click" }}>
          <i class="arrow save icon"></i>
        </button>
      </div>
    </td>
  </tr>
  <tr>
    <td valign='top'>
        {{ember-jstree
          actionReceiver=jstreeActionReceiverLeft
          selectedNodes=jstreeSelectedNodesLeft
          data=model.leftTreeNodes
          plugins=pluginsLeft
          typesOptions=typesOptions
        }}
    </td>
    <td valign='top' align='center'>
      <button class='ui button icon move {{moveRightDisabled}}' {{action "moveRightHighlighted" on="click" }}>
        <i class="chevron right icon"></i>
      </button>
    </td>
    <td valign='top'>
      {{ember-jstree
        actionReceiver=jstreeActionReceiverRight
        selectedNodes=jstreeSelectedNodesRight
        data=model.rightTreeNodes
        plugins=pluginsRight
        typesOptions=typesOptions
        treeObject=jstreeObjectRight
      }}
    </td>
  </tr>
</table>
</div>
</form>
