<h2 class='form-header'>
  {{t "forms.fd-application-model.caption"}}
</h2>

<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.type-caption"}}
      </div>
      <div class="thirteen wide column">
        {{
          fd-search-input
          value=searchValue
        }}
      </div>
    </div>
    <div class="row">
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.create-class-caption")
          click=(action 'openCreateClassEditPanel')
        }}
      </div>
    </div>

    {{!-- Classes --}}
    {{#each filteredModel.classes as |class|}}
      {{
        fd-class-list-items
        entity=class
        sheetComponentName=sheetComponentName
        createClassAction=(action 'createClass')
      }}
    {{/each}}

    {{!-- Enums --}}
    {{#if (not-eq filteredModel.enums.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.enum-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.enums as |enum|}}
          {{
            fd-list-item
            model=enum
            caption=enum.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.enum-caption")
          click=(action 'createClass' '«enumeration»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Type --}}
    {{#if (not-eq filteredModel.types.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.type-content-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.types as |type|}}
          {{
            fd-list-item
            model=type
            caption=type.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.type-content-caption")
          click=(action 'createClass' '«type»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Typedef --}}
    {{#if (not-eq filteredModel.typedefs.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.typedef-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.typedefs as |typedef|}}
          {{
            fd-list-item
            model=typedef
            caption=typedef.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.typedef-caption")
          click=(action 'createClass' '«typedef»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- BS --}}
    {{#if (not-eq filteredModel.bs.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.bs-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.bs as |bs|}}
          {{
            fd-list-item
            model=bs
            caption=bs.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.bs-caption")
          click=(action 'createClass' '«businessserver»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Interface --}}
    {{#if (not-eq filteredModel.interfaces.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.interface-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.interfaces as |interface|}}
          {{
            fd-list-item
            model=interface
            caption=interface.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.interface-caption")
          click=(action 'createClass' '«interface»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- External --}}
    {{#if (not-eq filteredModel.externals.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.external-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.externals as |external|}}
          {{
            fd-list-item
            model=external
            caption=external.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.external-caption")
          click=(action 'createClass' '«external»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Extinterface --}}
    {{#if (not-eq filteredModel.extinterfaces.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.extinterface-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.extinterfaces as |extinterface|}}
          {{
            fd-list-item
            model=extinterface
            caption=extinterface.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-application-model.extinterface-caption")
          click=(action 'createClass' '«externalinterface»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Applications --}}
    {{#if (not-eq filteredModel.applications.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.application-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.applications as |application|}}
          {{
            fd-list-item
            model=application
            caption=application.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{fd-button
          caption=(t "forms.fd-application-model.application-caption")
          click=(action 'createClass' '«application»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Userforms --}}
    {{#if (not-eq filteredModel.userforms.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.userform-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.userforms as |userform|}}
          {{fd-list-item
            model=userform
            caption=userform.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{fd-button
          caption=(t "forms.fd-application-model.userform-caption")
          click=(action 'createClass' '«userform»')
        }}
      </div>
    </div>
    {{/if}}

    {{!-- Userstereotypes --}}
    {{#if (not-eq filteredModel.userstereotypes.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-application-model.userstereotype-caption"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.userstereotypes as |userstereotype|}}
          {{fd-list-item
            model=userstereotype
            caption=userstereotype.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{fd-button
          caption=(t "forms.fd-application-model.userstereotype-caption")
          click=(action 'createClass' '«custom»')
        }}
      </div>
    </div>
    {{/if}}

  </div>
</form>
{{#fd-sheet
  title=computedTitle
  saveController=(action 'save')
  deleteController=(action 'delete')
  sheetComponentName=sheetComponentName
  readonly=(not selectedElement.model.data.isNew)
  toolbarVisible=(not isAddMode)
  isNewModel=selectedElement.model.data.isNew
}}
  {{#if isAddMode}}
    {{fd-editing-panels/fd-create-entity
      createClassAction=(action 'createClass')
    }}
  {{else}}
    {{#if (known-for-type (concat "fd-editing-panels/fd-" componentNamePart "-editing-panel"))}}
      {{component (concat "fd-editing-panels/fd-" componentNamePart "-editing-panel")
        model=selectedElement.model.data
        dataobject=selectedElement.dataobject
        openViewSheetController=(action 'openViewSheet')
      }}
    {{else}}
      {{fd-editing-panels/fd-custom-editing-panel
        model=selectedElement.model.data
      }}
    {{/if}}
  {{/if}}
{{/fd-sheet}}

{{#fd-sheet
  title=selectedView.name
  saveController=(action 'saveView')
  deleteController=(action 'deleteView')
  sheetComponentName=sheetViewName
  readonly=false
  isNewModel=selectedView.isNew
}}

  {{fd-editing-panels/fd-create-view
    model=selectedElement.model.data
    view=selectedView
  }}

{{/fd-sheet}}
