<h3 class="ui header">{{t 'forms.fd-class-edit-form.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.caption
    class=(if model.errors.caption 'error' '')
    label=(t 'forms.fd-class-edit-form.caption-caption')
  }}
  {{flexberry-validationmessage error=model.errors.caption pointing="pointing"}}
</div>
<div class="field">
  <label>{{t 'forms.fd-class-edit-form.attributes-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="attributesGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.attributes
    content=model.attributes
    readonly=readonly
    orderable=false
    class=(if model.errors.attributes 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.attributes pointing="pointing"}}
</div>

{{#flexberry-toggler
    caption=(t 'forms.fd-class-edit-form.toggler-caption')
    expanded=true
    hasResizableOLV=true
}}
  <div class="field">
    {{
      flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      readonly=readonly
      required=true
      value=model.name
      class=(if model.errors.name 'error' '')
      label=(t 'forms.fd-class-edit-form.name-caption')
    }}
    {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
  </div>

  <div class="field">
    {{
      flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      readonly=readonly
      required=true
      value=model.publishName
      class=(if model.errors.publishName 'error' '')
      label=(t 'forms.fd-class-edit-form.publishName-caption')
    }}
    {{flexberry-validationmessage error=model.errors.publishName pointing="pointing"}}
  </div>

  <div class="field">
    <label>{{t 'forms.fd-class-edit-form.stored-caption'}}</label>
    {{
      flexberry-checkbox
      readonly=readonly
      value=model.stored
    }}
    {{flexberry-validationmessage error=model.errors.stored pointing="pointing"}}
  </div>

  <div class="field">
    {{
      flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      readonly=readonly
      required=true
      value=model.storage
      class=(if model.errors.storage 'error' '')
      label=(t 'forms.fd-class-edit-form.storage-caption')
    }}
    {{flexberry-validationmessage error=model.errors.storage pointing="pointing"}}
  </div>

  <div class="field">
    {{
      flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      readonly=readonly
      required=true
      value=model.packet
      class=(if model.errors.packet 'error' '')
      label=(t 'forms.fd-class-edit-form.packet-caption')
    }}
    {{flexberry-validationmessage error=model.errors.packet pointing="pointing"}}
  </div>

  <div class="field">
    {{
      flexberry-field
      placeholder=(t 'components.flexberry-field.placeholder')
      readonly=readonly
      required=true
      value=model.namespacePostfix
      class=(if model.errors.namespacePostfix 'error' '')
      label=(t 'forms.fd-class-edit-form.namespacePostfix-caption')
    }}
    {{flexberry-validationmessage error=model.errors.namespacePostfix pointing="pointing"}}
  </div>

  <div class="field">
    <label>{{t 'forms.fd-class-edit-form.businessServerClass-caption'}}</label>
    {{
      flexberry-lookup
      choose='showLookupDialog'
      remove='removeLookupValue'
      value=model.businessServerClass
      displayAttributeName='name'
      relationName='businessServerClass'
      projection='ListFormView'
      title=(t 'forms.fd-class-edit-form.businessServerClass-caption')
      readonly=readonly
      dropdown=true
      lookupLimitPredicate=lookupStereotypeLimitPredicate
    }}
    {{flexberry-validationmessage error=model.errors.businessServerClass pointing="pointing"}}
  </div>

  {{#if model.businessServerClass}}
  <div class="field">
    <label>{{t 'forms.fd-class-edit-form.businessServerEvents-caption'}}</label>
    {{
      flexberry-dropdown
      items=(flexberry-enum 'i-c-s-soft-s-t-o-r-m-n-e-t-business-data-service-object-events')
      value=model.businessServerEvents
      readonly=readonly
    }}
    {{flexberry-validationmessage error=model.errors.businessServerEvents pointing="pointing"}}
  </div>
  {{/if}}

  <div class="field">
    <label>{{t 'forms.fd-class-edit-form.views-caption'}}</label>
    {{
      flexberry-groupedit
      componentName="viewsGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.views
      content=model.views
      readonly=true
      orderable=false
      class=(if model.errors.views 'error' '')
    }}
    {{flexberry-validationmessage error=model.errors.views pointing="pointing"}}
  </div>

  <div class="field">
    <label>{{t 'forms.fd-class-edit-form.classStorageTypes-caption'}}</label>
    {{
      flexberry-groupedit
      componentName="classStorageTypesGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.classStorageTypes
      content=model.classStorageTypes
      readonly=readonly
      orderable=false
      class=(if model.errors.classStorageTypes 'error' '')
    }}
    {{flexberry-validationmessage error=model.errors.classStorageTypes pointing="pointing"}}
  </div>
{{/flexberry-toggler}}
</form>
