<h3 class="ui header">
  {{t 'forms.fd-configuration-edit-form.caption'}}
  {{#if readonly}}
    ({{t 'forms.fd-edit-form.readonly-mode'}})
  {{/if}}
</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        <button type="submit" class="ui button save-close-button" {{action 'saveAndClose'}}>
          {{t "forms.edit-form.saveAndClose-button-text"}}
        </button>
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.fd-configuration-edit-form.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.description
    class=(if model.errors.description 'error' '')
    label=(t 'forms.fd-configuration-edit-form.description-caption')
  }}
  {{flexberry-validationmessage error=model.errors.description pointing="pointing"}}
</div>

</form>