<form class="ui form flexberry-vertical-form settings-form">
  <div class="fd-sheet-toolbar">
    <button class="ui button {{if readonlyModeProject 'disabled' ''}}" {{action "save"}}>
      {{t "forms.edit-form.save-button-text"}}
    </button>
    {{#link-to "fd-setting" class="ui icon button" title="Закрыть"}}
      <i class="icon-fd-x-mark icon"></i>
    {{/link-to}}
  </div>
  <h2 class="form-header">{{t "forms.fd-data-types-map.caption"}}</h2>
  {{#if showTypeMap}}
    {{#flexberry-tree class="styled fluid"}}
      {{#block-slot "content"}}
        {{#each typeMap as |dataType|}}
          <div class="title">
            <i class="dropdown icon"></i>
            <span>{{dataType.name}}</span>
            
            {{#unless dataType.hasMapping}}
              <i title={{t "forms.fd-data-types-map.filling-error"}} class="exchange red alternate icon"></i>
            {{/unless}}
          </div>
          <div class="content">
            {{#unless dataType.sqlOnly}}
              <div class="equal width fields">
                <div class="ui field">
                  <label>C#</label>
                  <div class="ui input">{{input value=dataType.cs placeholder=(t "components.flexberry-textbox.placeholder") disabled=(if readonlyModeProject 'disabled' '')}}</div>
                </div>
                <div class="ui field">
                  <label>Assembly DLL</label>
                  <div class="ui input">{{input value=dataType.assemblyDll placeholder=(t "components.flexberry-textbox.placeholder") disabled=(if readonlyModeProject 'disabled' '')}}</div>
                </div>
              </div>
            {{/unless}}
            <div class="equal width fields">
              <div class="ui field">
                <label>Microsoft SQL Server</label>
                <div class="ui input">{{input value=dataType.sql placeholder=(t "components.flexberry-textbox.placeholder") disabled=(if readonlyModeProject 'disabled' '')}}</div>
              </div>
              <div class="ui field">
                <label>Postgre SQL</label>
                <div class="ui input">{{input value=dataType.postgre placeholder=(t "components.flexberry-textbox.placeholder") disabled=(if readonlyModeProject 'disabled' '')}}</div>
              </div>
              <div class="ui field">
                <label>Oracle</label>
                <div class="ui input">{{input value=dataType.oracle placeholder=(t "components.flexberry-textbox.placeholder") disabled=(if readonlyModeProject 'disabled' '')}}</div>
              </div>
            </div>
          </div>
        {{/each}}
      {{/block-slot}}
    {{/flexberry-tree}}
  {{/if}}
</form>

{{#if show}}
  {{fd-modal-message-box
    headerCaption=headerCaption
    messageText=messageText
    visibleButtons=visibleButtons
    approveButtonCaption=approveButtonCaption
    denyButtonCaption=denyButtonCaption
    approve=(action "approveAction")
    deny=(action "denyAction")
    hide=(action set "show" false)
  }}
{{/if}}
