<h2 class='form-header'>
  {{t "forms.fd-diagrams.caption"}}
</h2>

<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="three wide column light-text">
        {{
          flexberry-dropdown
          items=groupArrayString
          value=groupValue
          needChecksOnValue=false
        }}
      </div>
      <div class="thirteen wide column">
        {{
          fd-search-input
          value=searchValue
        }}
      </div>
    </div>
    <div class="row">
      <div class="right floated thirteen wide column">
        {{fd-button
          caption=(t "forms.fd-diagrams.create-button")
          click=(action "openCreateDiagramsEditPanel")
          class="primary"
          readonly=readonlyModeProject
        }}
      </div>
    </div>

    {{#each-in filteredModel as |key|}}
      {{#let (custom-get-for-object filteredModel key) as |diagrams|}}
        {{#if (and (not-eq diagrams.length 0)
            (or
              groupBySystems
              (compare-t-with-string groupValue 'forms.fd-diagrams.all-diagrams')
              (compare-t-with-string groupValue (concat 'forms.fd-diagrams.' key ))
            )
          )
        }}
        <div class="row">
          <div class="three wide column light-text">
            {{if groupBySystems key (t (concat "forms.fd-diagrams." key))}}
          </div>
          <div class="thirteen wide column">
            {{#each diagrams as |diagram|}}
              {{
                fd-list-item
                model=diagram
                caption=diagram.data.name
                sheetComponentName=sheetComponentName
              }}
            {{/each}}
          </div>
          {{#if (not groupBySystems)}}
            <div class="right floated thirteen wide column">
              {{
                fd-button
                caption=(t (concat "forms.fd-diagrams." key))
                click=(action 'createDiagram' key)
                readonly=readonlyModeProject
              }}
            </div>
          {{/if}}
        </div>
        {{/if}}
      {{/let}}
    {{/each-in}}

  </div>
</form>

{{fd-sheets/fd-diagram-sheet
  model=model
  isAddMode=isAddMode
  createDiagram=(action 'createDiagram')
  updateModel=(action 'updateModel')
}}

{{fd-sheets/fd-edit-diagram-object-sheet}}

{{fd-sheets/fd-view-sheet}}

{{#if show}}
  {{fd-modal-message-box
    headerCaption=headerCaption
    messageText=messageText
    visibleButtons=visibleButtons
    approveButtonCaption=approveButtonCaption
    denyButtonCaption=denyButtonCaption
    approve=(action "approveAction")
    deny=(action "denyAction")
    hide=(action set "show" false)
  }}
{{/if}}
