<h2 class='form-header'>
  {{t "forms.fd-diagrams.caption"}}
</h2>

<form class="ui form flexberry-vertical-form">
  <div class="ui stackable grid fd-list">
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.type-caption"}}
      </div>
      <div class="thirteen wide column">
        {{
          fd-search-input
          value=searchValue
        }}
      </div>
    </div>
    <div class="row">
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.create-button")
          click=(action 'openCreateDiagramsEditPanel')
          readonly=readonlyModeProject
        }}
      </div>
    </div>

    {{!-- ad --}}
    {{#if (not-eq filteredModel.ad.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.ad"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.ad as |ad|}}
          {{
            fd-list-item
            model=ad
            caption=ad.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.ad")
          click=(action 'createDiagram' 'ad')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

    {{!-- cad --}}
    {{#if (not-eq filteredModel.cad.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.cad"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.cad as |cad|}}
          {{
            fd-list-item
            model=cad
            caption=cad.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.cad")
          click=(action 'createDiagram' 'cad')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

    {{!-- cod --}}
    {{#if (not-eq filteredModel.cod.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.cod"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.cod as |cod|}}
          {{
            fd-list-item
            model=cod
            caption=cod.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.cod")
          click=(action 'createDiagram' 'cod')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

    {{!-- dpd --}}
    {{#if (not-eq filteredModel.dpd.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.dpd"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.dpd as |dpd|}}
          {{
            fd-list-item
            model=dpd
            caption=dpd.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.dpd")
          click=(action 'createDiagram' 'dpd')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

    {{!-- sd --}}
    {{#if (not-eq filteredModel.sd.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.sd"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.sd as |sd|}}
          {{
            fd-list-item
            model=sd
            caption=sd.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.sd")
          click=(action 'createDiagram' 'sd')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

    {{!-- std --}}
    {{#if (not-eq filteredModel.std.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.std"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.std as |std|}}
          {{
            fd-list-item
            model=std
            caption=std.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.std")
          click=(action 'createDiagram' 'std')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

    {{!-- ucd --}}
    {{#if (not-eq filteredModel.ucd.length 0)}}
    <div class="row">
      <div class="three wide column light-text">
        {{t "forms.fd-diagrams.ucd"}}
      </div>
      <div class="thirteen wide column">
        {{#each filteredModel.ucd as |ucd|}}
          {{
            fd-list-item
            model=ucd
            caption=ucd.data.name
            sheetComponentName=sheetComponentName
          }}
        {{/each}}
      </div>
      <div class="right floated thirteen wide column">
        {{
          fd-button
          caption=(t "forms.fd-diagrams.ucd")
          click=(action 'createDiagram' 'ucd')
          readonly=readonlyModeProject
        }}
      </div>
    </div>
    {{/if}}

  </div>
</form>

{{fd-sheets/fd-diagram-sheet
  model=model
  isAddMode=isAddMode
  createDiagram=(action 'createDiagram')
  updateModel=(action 'updateModel')
}}

{{fd-sheets/fd-edit-diagram-object-sheet}}

{{fd-sheets/fd-view-sheet}}

{{#if show}}
  {{fd-modal-message-box
    isError=isError
    messageText=messageText
    sheetName=modalSheetName
    approve=(action "closeWithSaving")
    deny=(action "closeWithoutSaving")
    hide=(action set "show" false)
    headerIcon='edit'
  }}
{{/if}}
