<h3 class="ui header">{{model.name}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{!-- flexberry-validationsummary errors=model.errors--}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>

  <div class="sixteen wide">
    {{fd-uml-diagram primitives=model.primitives}}
  </div>

</form>

{{#fd-config-panel}}

  {{#fd-tabs tabsMenuTheme="vertical tabular" class="ui segments horizontal right-tabs" tabClick = (action "toggleConfigPanel") activeTab="none" as |tab|}}
    <form class="ui form segment">
      <div class="ui segment">
        <div class="ui large header">
          {{t "forms.fd-diagram-edit-form.form-config-panel.caption"}}
        </div>
      </div>
      {{#tab.pane dataTab='first' title=(t "forms.fd-diagram-edit-form.form-config-panel.diagram-properties-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-diagram-edit-form.form-config-panel.diagram-properties-header"}}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            required=true
            value=model.name
            class=(if model.errors.name 'error' '')
            label=(t 'forms.fd-diagram-edit-form.name-caption')
          }}
          {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
        </div>

        <label>{{t 'forms.fd-diagram-edit-form.description-caption'}}</label>
        <div class="field">
          {{
            flexberry-textarea
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            required=true
            value=model.description
            class=(if model.errors.description 'error' '')
          }}
          {{flexberry-validationmessage error=model.errors.description pointing="pointing"}}
        </div>
      {{/tab.pane}}
      {{#tab.pane dataTab='second' title=(t "forms.fd-diagram-edit-form.form-config-panel.primitive-properties-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-diagram-edit-form.form-config-panel.primitive-properties-header"}}
        </div>
      {{/tab.pane}}
      {{#tab.pane dataTab='active-tree-tab' title=(t "forms.fd-diagram-edit-form.form-config-panel.add-primitive-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-diagram-edit-form.form-config-panel.add-primitive-header"}}
        </div>
      {{/tab.pane}}
    </form>
  {{/fd-tabs}}

{{/fd-config-panel}}