<h3 class="ui header">{{model.editform.caption}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-close-button" {{action 'save-close'}}>
            {{t "forms.edit-form.saveAndClose-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button">
        {{t "forms.fd-visual-edit-form.preview-mobile-variant"}}
      </button>
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>

  {{#each model.controls as |control|}}
    {{fd-editform-row
      row=control
      selectControlAction=(action "selectControl")
      setDragItemAction=(action "setDragItem")
      getDragItemAction=(action "getDragItem")
      moveDragItemAction=(action "moveDragItem")
    }}
  {{/each}}
</form>

{{#fd-config-panel}}
  {{#fd-tabs tabsMenuTheme="vertical tabular" class="ui segments horizontal right-tabs"}}
    <form class="ui form segment">
      <div class="ui segment">
        <div class="ui large header">
          {{t "forms.fd-editform-constructor.caption"}}
        </div>
      </div>
      {{#ui-tab-segment tab='first' title=(t "forms.fd-editform-constructor.form-config-panel.form-properties-header") theme="" active=true}}
        <div class="ui small dividing header">
          {{t "forms.fd-editform-constructor.form-config-panel.form-properties-header"}}
        </div>
        <div class="field">
          <label>{{t "forms.fd-editform-constructor.form-config-panel.form-name"}}</label>
          {{flexberry-textbox value=model.editform.caption}}
        </div>
        <div class="field">
          <label>{{t "forms.fd-editform-constructor.form-config-panel.form-description"}}</label>
          {{flexberry-textarea value=model.editform.description}}
        </div>
      {{/ui-tab-segment}}

      {{#ui-tab-segment tab='control-properties' title=(t "forms.fd-editform-constructor.form-config-panel.control-properties-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-editform-constructor.form-config-panel.control-properties-header"}}
        </div>
        {{#if _selectedIsControl}}
          <div class="field">
            <label>{{t "forms.fd-editform-constructor.form-config-panel.control-caption"}}</label>
            {{flexberry-textbox value=selectedControl.caption}}
          </div>
          <div class="field">
            <label>{{t "forms.fd-editform-constructor.form-config-panel.control-type"}}</label>
            {{flexberry-dropdown items=(array "int" "bool" "string" "date") value=selectedControl.type}}
          </div>
        {{else if _selectedIsGroup}}
          <div class="field">
            <label>{{t "forms.fd-editform-constructor.form-config-panel.group-caption"}}</label>
            {{flexberry-textbox value=selectedControl.caption}}
          </div>
        {{else if _selectedIsTab}}
          <div class="field">
            <label>{{t "forms.fd-editform-constructor.form-config-panel.tab-caption"}}</label>
            {{flexberry-textbox value=selectedControl.caption}}
          </div>
        {{else}}
          <div class="field">
            <label>{{t "forms.fd-editform-constructor.form-config-panel.control-not-selected"}}</label>
          </div>
        {{/if}}
      {{/ui-tab-segment}}

      {{#ui-tab-segment tab='all-controls' title=(t "forms.fd-editform-constructor.form-config-panel.all-controls-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-editform-constructor.form-config-panel.all-controls-header"}}
        </div>
      {{/ui-tab-segment}}
    </form>
  {{/fd-tabs}}
{{/fd-config-panel}}