<h3 class="ui header">{{t 'forms.fd-enum-edit-form.caption'}}
  <div class="sub header">
    {{t 'forms.fd-enum-edit-form.enum'}}: {{header}}
  </div>
</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        <button type="submit" class="ui button save-close-button" {{action 'saveAndClose'}}>
          {{t "forms.edit-form.saveAndClose-button-text"}}
        </button>
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.fd-enum-edit-form.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.description
    class=(if model.errors.description 'error' '')
    label=(t 'forms.fd-enum-edit-form.description-caption')
  }}
  {{flexberry-validationmessage error=model.errors.description pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-enum-edit-form.onlyShowSelectedValue-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.onlyShowSelectedValue
  }}
  {{flexberry-validationmessage error=model.errors.onlyShowSelectedValue pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.packet
    class=(if model.errors.packet 'error' '')
    label=(t 'forms.fd-enum-edit-form.packet-caption')
  }}
  {{flexberry-validationmessage error=model.errors.packet pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.namespacePostfix
    class=(if model.errors.namespacePostfix 'error' '')
    label=(t 'forms.fd-enum-edit-form.namespacePostfix-caption')
  }}
  {{flexberry-validationmessage error=model.errors.namespacePostfix pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-enum-edit-form.attributes-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="attributesGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.attributes
    content=model.attributes
    readonly=readonly
    orderable=false
    class=(if model.errors.attributes 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.attributes pointing="pointing"}}
</div>

</form>