<h3 class="ui header">{{t 'forms.fd-generation-process-form.caption'}}</h3>
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <button type="button" class="ui button" disabled={{model.isRunning}} {{action "generate"}}>
    {{t "forms.fd-generation-process-form.generation-button-text"}}
  </button>

  {{#if generationId}}
    <div class="ui teal progress generation-progress-bar" data-percent="0">
      <div class="bar"></div>
      <div class="label">0%</div>
    </div>
  {{/if}}

  <h3 class="ui header">{{t 'forms.fd-generation-process-form.generation-log-caption'}}</h3>
  {{#each sortedGenerationLog as |logRecord|}}
    <div class="log-record">
      <span class="{{if logRecord.thisIsError "error" (if logRecord.isWarn "warning" "default")}}-log-record">
        {{concat (get-formatted logRecord "time" dateFormat="DD.MM.YYYY, HH:mm:ss" moment=moment) ": "}}
        {{if logRecord.thisIsError (concat "[" (t "forms.fd-generation-process-form.log-message-types.error") "]: ")}}
        {{if logRecord.isWarn (concat "[" (t "forms.fd-generation-process-form.log-message-types.warning") "]: ")}}
        {{logRecord.text}}
      </span>
    </div>
  {{else}}
    <div class="log-record">
      {{#if generationId}}
        {{t 'forms.fd-generation-process-form.start-generation'}}
      {{else}}
        {{t 'forms.fd-generation-process-form.no-log-caption'}}
      {{/if}}
    </div>
  {{/each}}
</form>
