<h3 class="ui header">{{t 'forms.fd-generation-process-form.caption'}}</h3>

<button type="submit" class="ui button" {{action 'generate'}}>{{t 'forms.fd-generation-process-form.generation-button-text'}}</button>

<h3 class="ui header">{{t 'forms.fd-generation-process-form.generation-log-caption'}}</h3>
{{generationLog}}
2017-11-16 16:43:11: Стадия: Реализация
<br>2017-11-16 16:43:12: Загрузка стадии...
<br>2017-11-16 16:43:12: завершена
<br>2017-11-16 16:43:15: Генерируем Eais.Leechnost.Objects
<br>2017-11-16 16:43:15: tTipAdresa.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: tTipPerioda.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: IzmenenieFIO.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: Prozhivanie.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: tPol.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: Peremeshchenie.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: IzmenenieNaznachVypl.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: OrganVydDok.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: Strana.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: NaznachenieVyplaty.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: Leechnost.cs -
<br>2017-11-16 16:43:15: успешно сгенерирован
<br>2017-11-16 16:43:15: Period.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: PrichinaSnyatiya.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: LgotKat.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: UchetLeechnosti.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: tPriznanInvalidom.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: Lgota.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: LgKatLeechnosti.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: PrichinaPeremeshcheniia.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: tLogicheskii.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: UdostDokument.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: tSposobOplaty.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: OrganSZ.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: tGruppaInvalidnosti.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: tTipVyplaty.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: Invalidnost.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: FaktLgot.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: tObrazovanieLeechn.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: VidUdostDok.cs -
<br>2017-11-16 16:43:16: успешно сгенерирован
<br>2017-11-16 16:43:16: Properties\AssemblyInfo.cs -
<br>2017-11-16 16:43:16: пропущен, перегенерация не требуется.
<br>2017-11-16 16:43:16: Загрузка информации об установленных пакетах из конфигурации d:\git\eais-web\Eais.Leechnost\Eais.Leechnost\Objects\packages.config
<br>2017-11-16 16:43:16: Загрузка информации об установленных пакетах завершена.
<br>2017-11-16 16:43:16: Устанавливаем NuGet-пакеты в каталог "d:\git\eais-web\Eais.Leechnost\Eais.Leechnost\packages".
<br>2017-11-16 16:43:16 [{{t "forms.fd-generation-process-form.log-message-types.warning"}}]: NuGet пакет 'NewPlatform.Flexberry.ORM' уже установлен.
<br>2017-11-16 16:43:16: NuGet-пакеты успешно установлены.
<br>2017-11-16 16:43:17: packages.config -
<br>2017-11-16 16:43:17: успешно сгенерирован.
<br>2017-11-16 16:43:17: Eais.Leechnost.Objects.csproj создан.
<br>2017-11-16 16:43:17: Проставляем проектные ссылки.....
<br>2017-11-16 16:43:17: готово
<br>2017-11-16 16:43:17: Генерируем файл решения - "d:\git\eais-web\Eais.Leechnost\Eais.Leechnost\Eais.Leechnost.sln"
<br>2017-11-16 16:43:17: готово
<br>2017-11-16 16:43:17: Генерация завершена.