<h3 class="ui header">{{t 'forms.fd-generation-process-form.caption'}}</h3>

<button type="submit" class="ui button" {{action 'generate'}}>{{t 'forms.fd-generation-process-form.generation-button-text'}}</button>

<h3 class="ui header">{{t 'forms.fd-generation-process-form.generation-log-caption'}}</h3>
{{generationLog}}
