<h3 class="ui header">
  {{t 'forms.fd-list-form-edit-form.caption'}}
  {{#if readonly}}
    ({{t 'forms.fd-edit-form.readonly-mode'}})
  {{/if}}
</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.fd-list-form-edit-form.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.description
    class=(if model.errors.description 'error' '')
    label=(t 'forms.fd-list-form-edit-form.description-caption')
  }}
  {{flexberry-validationmessage error=model.errors.description pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.caption
    class=(if model.errors.caption 'error' '')
    label=(t 'forms.fd-list-form-edit-form.caption-caption')
  }}
  {{flexberry-validationmessage error=model.errors.caption pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.generateDependedForm-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.generateDependedForm
  }}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.fixDependedForm-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.fixDependedForm
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.packet
    class=(if model.errors.packet 'error' '')
    label=(t 'forms.fd-list-form-edit-form.packet-caption')
  }}
  {{flexberry-validationmessage error=model.errors.packet pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.namespacePostfix
    class=(if model.errors.namespacePostfix 'error' '')
    label=(t 'forms.fd-list-form-edit-form.namespacePostfix-caption')
  }}
  {{flexberry-validationmessage error=model.errors.namespacePostfix pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.pBCustomAttributes-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.pBCustomAttributes
  }}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.pBMembers-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.pBMembers
  }}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.scriptName
    class=(if model.errors.scriptName 'error' '')
    label=(t 'forms.fd-list-form-edit-form.scriptName-caption')
  }}
  {{flexberry-validationmessage error=model.errors.scriptName pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.publishToEBSD-caption'}}</label>
  {{
    flexberry-checkbox
    readonly=readonly
    value=model.publishToEBSD
  }}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.attributes-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="attributesGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.attributes
    content=model.attributes
    readonly=readonly
    orderable=false
    class=(if model.errors.attributes 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.attributes pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.formViews-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="formViewsGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.formViews
    content=model.formViews
    readonly=readonly
    orderable=false
    class=(if model.errors.formViews 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.formViews pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.fd-list-form-edit-form.methods-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="methodsGroupEdit"
    mainModelProjection=modelProjection
    modelProjection=modelProjection.attributes.methods
    content=model.methods
    readonly=readonly
    orderable=false
    class=(if model.errors.methods 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.methods pointing="pointing"}}
</div>

</form>
