<h3 class="ui header">{{t 'forms.fd-stage-edit-form.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.name
    class=(if model.errors.name 'error' '')
    label=(t 'forms.fd-stage-edit-form.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.name pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.description
    class=(if model.errors.description 'error' '')
    label=(t 'forms.fd-stage-edit-form.description-caption')
  }}
  {{flexberry-validationmessage error=model.errors.description pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.company
    class=(if model.errors.company 'error' '')
    label=(t 'forms.fd-stage-edit-form.company-caption')
  }}
  {{flexberry-validationmessage error=model.errors.company pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.copyright
    class=(if model.errors.copyright 'error' '')
    label=(t 'forms.fd-stage-edit-form.copyright-caption')
  }}
  {{flexberry-validationmessage error=model.errors.copyright pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.product
    class=(if model.errors.product 'error' '')
    label=(t 'forms.fd-stage-edit-form.product-caption')
  }}
  {{flexberry-validationmessage error=model.errors.product pointing="pointing"}}
</div>

<div class="field">
  {{#flexberry-toggler
    caption=(t 'forms.fd-stage-edit-form.ember.caption')
    expanded=expandedEmber
    iconClass=iconClass
  }}
    <div class="ui segments">
      <div class="ui segment">
        <p>{{t 'forms.fd-stage-edit-form.ember.frontend.caption'}}</p>
      </div>
      <div class="ui segments">
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.frontend.git-url')
          }}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.frontend.login')
          }}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.frontend.password')
          }}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.frontend.branch')
          }}
        </div>
        <div class="field">
          {{
            flexberry-checkbox
            label=(t 'forms.fd-stage-edit-form.ember.frontend.publish')
            readonly=readonly
          }}
        </div>
      </div>
    </div>

    <div class="ui segments">
      <div class="ui segment">
        <p>{{t 'forms.fd-stage-edit-form.ember.backend.caption'}}</p>
      </div>
      <div class="ui segments">
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.backend.git-url')
          }}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.backend.login')
          }}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.backend.password')
          }}
        </div>
        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'components.flexberry-field.placeholder')
            readonly=readonly
            label=(t 'forms.fd-stage-edit-form.ember.backend.branch')
          }}
        </div>
      </div>
    </div>

    <div class="ui segments">
      <div class="ui segment">
        <p>{{t 'forms.fd-stage-edit-form.ember.mobile.caption'}}</p>
      </div>
      <div class="ui segments">
        <div class="field">
          {{
            flexberry-checkbox
            label=(t 'forms.fd-stage-edit-form.ember.mobile.cordova')
            readonly=readonly
          }}
        </div>
      </div>
    </div>
  {{/flexberry-toggler}}
</div>

<div class="field">
  {{#flexberry-toggler
    caption=(t 'forms.fd-stage-edit-form.bpm.caption')
    expanded=expandedBPM
    iconClass=iconClass
  }}
  <div class="ui segments">
    <div class="field">
      {{
        flexberry-field
        placeholder=(t 'components.flexberry-field.placeholder')
        readonly=readonly
        label=(t 'forms.fd-stage-edit-form.bpm.process-methodology')
      }}
    </div>
    <div class="field">
      {{
        flexberry-checkbox
        label=(t 'forms.fd-stage-edit-form.bpm.console-address')
        readonly=readonly
      }}
    </div>
  </div>
  {{/flexberry-toggler}}
</div>

<div class="field">
  {{#flexberry-toggler
    caption=(t 'forms.fd-stage-edit-form.orm.caption')
    expanded=expandedORM
    iconClass=iconClass
  }}
  <div class="ui segments">
    <div class="field">
      <label>
       {{t "forms.fd-stage-edit-form.orm.default-storage"}}
      </label>
      {{#if (await _storageType)}}
        {{
          flexberry-dropdown
          items=(await _storageType)
          placeholder=(t 'components.flexberry-field.placeholder')
          readonly=readonly
        }}
      {{else}}
        {{t "forms.fd-stage-edit-form.orm.load"}}
      {{/if}}

    </div>
  </div>
  {{/flexberry-toggler}}
</div>

</form>
