<h3 class="ui header">{{t 'forms.fd-visual-listform.caption'}}</h3>
{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-close-button" {{action 'save-close'}}>
            {{t "forms.edit-form.saveAndClose-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button">
        {{t "forms.fd-visual-listform.preview-mobile-variant"}}
      </button>
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="ui segment grid">
    <div class="row">
      <div class="sixteen wide column" style="width: 100%; overflow-x: scroll;">
        {{fd-visual-listform-form
          formName=formClass.name
          attributes=attributes
          indexSelectedAttribute=indexSelectedAttribute
          addAttributeAction=(action "addAttribute")
          moveAttributeAction=(action "moveAttribute")
          removeAttributeAction=(action "removeAttribute")
          selectAttributeAction=(action "selectAttribute")
        }}
      </div>
    </div>
  </div>
</form>

{{#fd-config-panel}}
  {{#fd-tabs tabsMenuTheme="vertical tabular" class="ui segments horizontal right-tabs"}}
    <form class="ui form segment">
      <div class="ui segment">
        <div class="ui large header">
          {{t "forms.fd-editform-constructor.caption"}}
        </div>
      </div>
      {{#ui-tab-segment tab='first' title=(t "forms.fd-editform-constructor.form-config-panel.form-properties-header") theme="" active=true}}
        <div class="ui small dividing header">
          {{t "forms.fd-editform-constructor.form-config-panel.form-properties-header"}}
        </div>

        <div class="field">
          {{
            flexberry-field
            placeholder=(t 'forms.fd-visual-listform.name')
            readonly=readonly
            required=true
            value=formClass.name
            label=(t 'forms.fd-visual-listform.name')
          }}
        </div>

      {{/ui-tab-segment}}

      {{#ui-tab-segment tab='control-properties' title=(t "forms.fd-editform-constructor.form-config-panel.control-properties-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-editform-constructor.form-config-panel.control-properties-header"}}
        </div>
        {{fd-visual-edit-control attribute=selectedAttribute}}
      {{/ui-tab-segment}}

      {{#ui-tab-segment tab='add-controls' title=(t "forms.fd-editform-constructor.form-config-panel.add-controls-header") theme=""}}
        <div class="ui small dividing header">
          {{t "forms.fd-editform-constructor.form-config-panel.add-controls-header"}}
        </div>

      {{/ui-tab-segment}}

    </form>
  {{/fd-tabs}}
{{/fd-config-panel}}