<h3>{{t 'forms.new-platform-flexberry-web-designer-appstruct-list-form.caption'}}</h3>


<table>
  <tr >
    <td>
      <i class="large remove icon"></i>
      <i class="large plus icon"></i>
      <i class="large write icon"></i>
      <i class="large list icon"></i>
    </td>
    <td rowspan='2' valign='center' align='center'>
      <div
        {{action "moveLeftHighlighted" on="click" }}
        ><i class="large chevron left icon"></i
      ></div>
      <br />
      <div
        {{action "moveRightHighlighted" on="click" }}
        ><i class="large chevron right icon"></i
      ></div>
    </td>
    <td>
      <i class="large plus icon"></i>
      <i class="large remove icon"></i>
      <i class="large folder icon"></i>
      <i class="large arrow up icon"></i>
      <i class="large arrow down icon"></i>
    </td>
  </tr>
  <tr valign='top'>
    <td>
        {{flexberry-tree
        class=jsonLeftTreeClass
        exclusive=jsonTreeExclusive
        collapsible=jsonLeftTreeCollapsible
        animateChildren=jsonTreeAnimateChildren
        duration=jsonTreeDuration
        nodes=(get-with-dynamic-actions this "jsonLeftTreeNodes"
          hierarchyPropertyName="nodes"
          pathKeyword="nodePath"
          dynamicActions=(array
            (hash
              on="headerClick"
              actionName="onTreenodeHeaderClick"
              actionArguments=(array "{% nodePath %}")
            )
          )
        )
      }}
    </td>
    <td>
        {{flexberry-tree
        class=jsonRightTreeClass
        exclusive=jsonTreeExclusive
        collapsible=jsonRightTreeCollapsible
        animateChildren=jsonTreeAnimateChildren
        duration=jsonTreeDuration
        nodes=(get-with-dynamic-actions this "jsonRightTreeNodes"
          hierarchyPropertyName="nodes"
          pathKeyword="nodePath"
          dynamicActions=(array
            (hash
              on="headerClick"
              actionName="onTreenodeHeaderClick"
              actionArguments=(array "{% nodePath %}")
            )
          )
        )
      }}
    </td>
  </tr>
</table>

